{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}
<main class="coursepageMain">
  <section class="courseflipCardSec">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12 col-md-12 col-xl-10 mx-auto">
                  <h3 class="courseflipCardSec--Title">Courses Offered</h3>
                  <p class="courseflipCardSec--para">Emerging as a Word Class Institution for Forestry Education,
                      Research, Management and Outreach.</p>
                  <div class="row">

                      <div class="col-md col-12 col-sm-6  wow fadeInUp" data-wow-delay="0.3s">
                          <div class="box-item">
                              <div class="coureseFilpBox active">
                                  <a href="index.htm#bsc" class="flip-box-abs-link"></a>
                                  <div class="coureseFilpBox-front text-center" style="background-image: url('/static/images/department-images/PHd_card.webp');">
                                      <div class="inner color-white">
                                          <h3 class="coureseFilpBox-header">B.Sc.</h3>
                                          <p class="coureseFilpBox-label">(Hons.) Forestry</p>
                                      </div>
                                  </div>

                                  <div class="coureseFilpBox-back text-center" style="background-image: url('/static/images/department-images/PHd_card.webp');">
                                      <div class="inner color-white">
                                          <a href="index.htm#bsc" class="flip-box-abs-link"></a>
                                          <h3 class="coureseFilpBox-header">B.Sc.</h3>
                                          <p class="coureseFilpBox-label">(Hons.) Forestry</p>
                                          <p style="color: #fff;">B.Sc. (Hons.) Forestry curriculum contains an
                                              integrated forestry syllabus in accordance with ICAR guidelines, the
                                              1st &amp; 2nd semesters comprises of basic and fundamental courses.
                                          </p>
                                         
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-md col-12 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                          <div class="box-item">
                              <div class="coureseFilpBox">
                                  <a href="../msc-forestry/index.htm#msc" class="flip-box-abs-link"></a>
                                  <div class="coureseFilpBox-front text-center" style="background-image: url('/static/images/department-images/PHd_card.webp');">
                                      <div class="inner color-white">
                                          <h3 class="coureseFilpBox-header">M.Sc.</h3>
                                          <p class="coureseFilpBox-label">Forestry</p>
                                      </div>
                                  </div>

                                  <div class="coureseFilpBox-back text-center" style="background-image: url('/static/images/department-images/PHd_card.webp');">
                                      <div class="inner color-white">
                                          <a href="../msc-forestry/index.htm#msc" class="flip-box-abs-link"></a>
                                          <h3 class="coureseFilpBox-header">M.Sc.</h3>
                                          <p class="coureseFilpBox-label">Forestry</p>
                                          <p style="color: #fff;">Forest College and Research Institute, Hyderabad
                                              is established in 2016 with the objective of providing professional
                                              forestry education for the first time in the state of Telangana.</p>
                                          
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>

                      <div class="col-md col-12 col-sm-6   wow fadeInUp" data-wow-delay="0.1s">
                          <div class="box-item">
                              <div class="coureseFilpBox">
                                  <a href="../phd-forestry/index.htm#phd" class="flip-box-abs-link"></a>
                                  <div class="coureseFilpBox-front text-center" style="background-image: url('/static/images/department-images/PHd_card.webp');">
                                      <div class="inner color-white">
                                          <h3 class="coureseFilpBox-header">Ph.D.</h3>
                                          <p class="coureseFilpBox-label">Forestry</p>
                                      </div>
                                  </div>

                                  <div class="coureseFilpBox-back text-center" style="background-image: url('/static/images/department-images/PHd_card.webp');">
                                      <div class="inner color-white">
                                          <a href="../phd-forestry/index.htm#phd" class="flip-box-abs-link"></a>
                                          <h3 class="coureseFilpBox-header">Ph.D.</h3>
                                          <p class="coureseFilpBox-label">Forestry</p>
                                          <p style="color: #fff;">The course will commence from year 2022.</p>
                                          
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--<div id="bsc" style="padding: 50px;"></div>-->
  <section class="courseContentSec" id="bsc">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12 col-md-6 d-md-none">
                  <img src="{% static 'images/student-images/mscimage - Copy.jpeg' %}" class="img-fluid" alt="B.Sc. Forestry">
              </div>
              <div class="col-12 col-md-7 offset-md-5 col-lg-6 offset-lg-6">
                  <h3 class="courseContentSec--Title wow fadeInUp" data-wow-delay="0.1s">B.Sc. (Hons.) Forestry
                  </h3>
                  <h5 class="courseContentSec--Label wow fadeInUp" data-wow-delay="0.2s">Duration: 4 Years</h5>
                  <p class="wow fadeInUp" data-wow-delay="0.1s">B.Sc. (Hons.) Forestry curriculum contains an
                      integrated forestry syllabus in accordance with ICAR guidelines. The 1st &amp; 2nd semesters
                      comprise of basic and fundamental courses, the 3rd &amp; 4th semesters focus on principles,
                      5th &amp; 6th semester deal with production systems, 7th and 8th semester aim at Skill and
                      Entrepreneurship Development.</p>
                  <p class="wow fadeInUp" data-wow-delay="0.2s">B.Sc. (Hons.) Forestry, includes an innovative
                      component called student READY (“Rural Entrepreneurship Awareness Development Yojana”)
                      programme, an essential prerequisite for the award of degree to ensure hands on experience
                      and practical training to students. The programme aims to reorient graduates of Forestry for
                      ensuring and assuring employability and develop entrepreneurs for emerging knowledge in the
                      field of Forestry.</p>
              </div>
          </div>
      </div>
  </section>
</main>
<section class="courseInfographicSec">
  <div class="container-fluid">
      <div class="row">
          <div class="col-xxl-9 col-xl-10 mx-auto">
              <div id="infoGraphicCarousel" class="carousel slide" data-bs-ride="carousel">
                  <!-- Indicators/dots -->
                  <div class="carousel-indicators">
                      <button type="button" data-bs-target="#infoGraphicCarousel" data-bs-slide-to="0" class="active"></button>
                      <button type="button" data-bs-target="#infoGraphicCarousel" data-bs-slide-to="1"></button>
                      <button type="button" data-bs-target="#infoGraphicCarousel" data-bs-slide-to="2"></button>
                      <button type="button" data-bs-target="#infoGraphicCarousel" data-bs-slide-to="3"></button>
                      <button type="button" data-bs-target="#infoGraphicCarousel" data-bs-slide-to="4"></button>
                      <button type="button" data-bs-target="#infoGraphicCarousel" data-bs-slide-to="5"></button>
                  </div>
                  <!-- The slideshow/carousel -->
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row align-items-center">
                              <div class="col-md-6 col-12 courseInfographicSec--imgCol">
                                  <img src="{% static 'images/background-images/BSc_Infographic_1.webp' %}" class="img-fluid" alt="B.Sc. Forestry">
                                  
                              </div>
                              <div class="col-md-6 col-12 courseInfographicSec__contentCol cpContentCrsl-01 scroll">
                                  <h4>Project Work & Dissertation </h4>
                                  <h6>10 weeks (0+10 credit) to be taken up during the VIII semester. </h6>
                                  <ul class="">
                                      <li> This course shall provide the B.Sc. (Hons.) Forestry students a practical approach towards
                                      the design of research experiments (both lab-based and field-based), 
                                      analysis and interpretation of data and technical writing skills.</li>
                                      <li> Each student shall work on a specific research project to be identified
                                          with the help of the supervising teacher.</li>
                                      <li> They shall also prepare and present a proposed plan of work (PPW)
                                          specifying the objectives and procedures of the study and present the
                                          same before an audience consisting of faculty and students.</li>
                                      <li> The research work will be conducted leading to the preparation of a
                                          project report in the format and style of M.Sc. thesis. </li>

                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row align-items-center">
                              <div class="col-md-6 col-12 courseInfographicSec--imgCol">
                                  <img src="{% static 'images/background-images/BSc_Infographic_1.webp'' %}" class="img-fluid" alt="B.Sc. Forestry">
                              </div>
                              <div class="col-md-6 col-12 courseInfographicSec__contentCol cpContentCrsl-02 scroll">
                                  <h4>Experiential Learning</h4>
                                  <h6>It helps the student in developing competence and capability to acquire skills, expertise, and 
                                      confidence to start their own enterprise and to become job creators instead of job seekers. 
                                      Any one of the modules (0+10 credits) to be taken up during VIII semester:
                                  </h6>
                                  <ul class="">
                                      <li> Production and Marketing of high value forest produce</li>
                                      <li>Raising Quality Planting Materials for forest regeneration </li>
                                      <li> Apiculture/Sericulture/Mushroom cultivation     </li>
                                      <li> Ecotourism </li>
                                      <li> Wild Animal Health Management </li>

                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row align-items-center">
                              <div class="col-md-6 col-12 courseInfographicSec--imgCol">
                                  <img src="{% static 'images/background-images/BSc_Infographic_1.webp'' %}" class="img-fluid" alt="B.Sc. Forestry">
                              </div>
                              <div class="col-md-6 col-12 courseInfographicSec__contentCol cpContentCrsl-03">
                                  <h4>Student Ready Programme </h4>
                                  <h6>The term READY refers to “Rural Entrepreneurship Awareness Development
                                      Yojana”.

                                      Important components of Student READY programme are: </h6>
                                  <ul class="">
                                      <li> Forestry Work Experience (FoWE) </li>
                                      <li> Experiential Learning (EL) </li>
                                      <li> Project Work &amp; Dissertation </li>

                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row align-items-center">
                              <div class="col-md-6 col-12 courseInfographicSec--imgCol">
                                  <img src="{% static 'images/background-images/BSc_Infographic_1.webp'' %}" class="img-fluid" alt="B.Sc. Forestry">
                              </div>
                              <div class="col-md-6 col-12 courseInfographicSec__contentCol cpContentCrsl-04 scroll">
                                  <h4>Forestry Work Experience (FoWE)</h4>
                                  <h6>This is a programme designed to provide the students a first hand learning experience on various
                                       aspects of forest range management, administration, ecosystem structure and functioning, wherein 
                                       the students closely interact with forest officials and also to accompany them on routine missions
                                        such as raids, patrols, perambulation, executing warrants, serving summons, apprehending poachers and other offenders etc. During this time, they are also actively engaged in various other forestry operations and industrial exposure. The students spend about 24 weeks during the VII semester with (0+20) credit hours. The program envisages:</h6>
                                  <ul class="">
                                      <li> Orientation&nbsp;</li>
                                      <li> Watershed Village attachment </li>
                                      <li>Urban Forestry attachment</li>
                                      <li> Forest Range attachment </li>
                                      <li> Wildlife attachment </li>
                                      <li> Industrial attachment</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row align-items-center">
                              <div class="col-md-6 col-12 courseInfographicSec--imgCol">
                                  <img src="{% static 'images/background-images/BSc_Infographic_1.webp'' %}" class="img-fluid" alt="B.Sc. Forestry">
                              </div>
                              <div class="col-md-6 col-12 courseInfographicSec__contentCol cpContentCrsl-05">
                                  <h4>Field Visits</h4>
                                  <ul class="">
                                      <li> Institution visits to government / non-government organizations</li>
                                      <li> Forest visits </li>
                                      <li>Visit to sanctuaries </li>
                                      <li> National park </li>
                                      <li> Zoo </li>
                                      <li> Visit to different ecosystems / landscapes</li>
                                      <li>On-Farm interactions</li>
                                      <li>Wildlife Census </li>
                                      <li>Visits to forest-based industry</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row align-items-center">
                              <div class="col-md-6 col-12 courseInfographicSec--imgCol">
                                  <img src="{% static 'images/background-images/BSc_Infographic_1.webp'' %}" class="img-fluid" alt="B.Sc. Forestry">
                              </div>
                              <div class="col-md-6 col-12 courseInfographicSec__contentCol cpContentCrsl-06">
                                  <h4>Study Tours</h4>
                                  <ul class="">
                                      <li>Telangana state</li>
                                      <li>South India</li>
                                      <li>All India</li>
                                      <li>Short visits to industrial units, farm lands etc. </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Left and right controls/icons -->
                  <button class="carousel-control-prev" type="button" data-bs-target="#infoGraphicCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#infoGraphicCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon"></span>
                  </button>
              </div>
          </div>
      </div>

  </div>
</section>
<style>
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .scroll {
      width: 49%;
  }
}

.scroll {
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px #fff;
}
</style>
        

        <section class="contact-section">
            <h1>
                Emerging as a World Class Institution.
            </h1>
            <h2>Forestry Education, Research, Management, and Outreach.</h2>
            <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
        </section>
    </div>
    <div class="vision-images">
        <div class="vi">
            <img src="{% static 'images\college-images\visionimage4.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image5.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image7.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image6.webp' %}">
        </div>
    </div>
    {% include 'footer1.html' %}
    {% include 'bootom_footer.html' %}
      
</body>        