<footer class="bottom-footer pt-2 pb-1">
    <div class="container-xxl">
        <div class="row">
            <div class="col-md-6">
                <p class="text-white pt-3 pb-1">&copy; 2022 FCRI - All Rights Reserved.</p>
            </div>
            <div class="col-md-6 social-links">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/FCRITS" target="_blank"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/FCRIHyderabad" target="_blank"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li> -->
                    
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/fcri_hyd/" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/company/fcrits/" target="_blank"><i class="fa-brands fa-linkedin-in" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>