{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}          


<section class="dept-head secStaffFCRI" style="padding: 20px 0 0 0 !important;">
  <div class="container-xl container-xxl">
      <div class="row colm deptCommonRow">
          <div class="col-md deptCommonRow_Col1">
              <div class="tab-content">
                  <div id="department1" class="tab-pane active">

                      <h2 class="playfair-family deptCommonTitle">HOD - Silviculture and
                          Agroforestry</h2>
                      <div class="row">
                          <!-- Carousel -->
                          <div id="sivilature-faculty" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false">
                              <!-- The slideshow/carousel -->
                              <div class="carousel-inner">
                                  <div class="carousel-item active">
                                      <div class="row">
                                          <div class="faculty-content">
                                              <div class="col-md-12  col-xl-5 col-xxl-auto faculty-content__colimg">
                                                  <img src="{% static 'images/professor-images/milkuri_ch_reddy.webp' %}" class="img-fluid shadow rounded-circle" alt="Department head">
                                              </div>
                                              <div class="col-md-12  col-xl-7 col-xxl">
                                                  <h5 class="text-green"><em>Dr. Milkuri Chiranjeeva Reddy</em></h5>
                                                  <p><strong>Dr. Chiranjeeva</strong> is an Assistant Professor of
                                                      Silviculture in the department of Silviculture and Agroforestry.
                                                      He is having more than 2 years of research and teaching
                                                      experience at Forest College and Research Institute, Mulugu.
                                                      <br><br>He obtained his Doctorate in Forestry with
                                                      specialization in Silviculture. He has got his master’s degree
                                                      in forestry with specialization in Plantation
                                                      technology.<br><br>
                                                      <a class="text-green" data-bs-toggle="modal" data-bs-target="#chreddy-bio">READ MORE</a>
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                      <!--row-->
                  </div>
                  <!--tab-pane-->
                 
                      
                      <!--row-->
                      <div id="department2" class="tab-pane fade">
                        <h2 class="playfair-family deptCommonTitle">HOD - Natural Resource
                            Management & Conservation</h2>
                        <div class="row">
                            <div id="naturalresource-faculty" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="faculty-content">
                                                <div class="col-md-12  col-xl-5 col-xxl-auto faculty-content__colimg">
                                                    <img src="{% static 'images/professor-images/Sailaja.png' %}" class="img-fluid shadow rounded-circle" alt="Department head">
                                                </div>
                                                <div class="col-md-12  col-xl-7 col-xxl">
                                                    <h5 class="text-green"><em>Smt. Sailaja.V</em></h5>
                                                    <p><strong>Smt.Sailaja</strong> is an Assistant Professor in
                                                        Entomology with 9 years of Research, Teaching and Extension
                                                        experience in Indian Council of Agricultural Research Institutes
                                                        and State Agricultural University.
                                                        <br><br>She worked with ICAR-Indian Institute of Rice Research
                                                        (Directorate of Rice Research), Hyderabad in estimation of
                                                        temperature thresholds and thermal constants for development and
                                                        survival of rice leaf folder, rice plant hoppers (BPH &
                                                        WBPH).<br><br>
                                                        <a class="text-green" data-bs-toggle="modal" data-bs-target="#sailaja-bio">READ MORE</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--row-->
                    </div>
                  <div id="department3" class="tab-pane fade">
                      <h2 class="playfair-family deptCommonTitle">HOD - Wildlife & Habitat
                          Management</h2>
                      <div class="row">
                          <div id="wildlife-faculty" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false">
                              <div class="carousel-inner">
                                  <div class="carousel-item active">
                                      <div class="row">
                                          <div class="faculty-content">
                                              <div class="col-md-12  col-xl-5 col-xxl-auto faculty-content__colimg">
                                                  <img src="{% static 'images/professor-images/sreekumar dep2.webp' %}" class="img-fluid shadow rounded-circle" alt="Department head">
                                              </div>
                                              <div class="col-md-12  col-xl-7 col-xxl">
                                                  <h5 class="text-green"><em>Dr. Sreekumar E R</em></h5>
                                                  <p><strong>Dr. Sreekumar </strong> is a wildlife biologist and
                                                      completed his B. Sc. (Hons.) Forestry, M. Sc. Forestry and Ph.
                                                      D. Forestry from Kerala Agricultural University.
                                                      He specialised in wildlife science during post-graduation.
                                                      <br><br>He was worked on the impact of climate change on the
                                                      montane specialised endemic birds of the Western Ghats, India
                                                      during Ph. D programme. He has been awarded the KSCSTE
                                                      Research Fellowship by the Kerala State Council for Science,
                                                      Technology and Environment.<br><br>
                                                      <a class="text-green" data-bs-toggle="modal" data-bs-target="#sreekumar-bio">READ
                                                          MORE</a>
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                      <!--row-->
                  </div>
                  <div id="department4" class="tab-pane fade">
                      <h2 class="playfair-family deptCommonTitle">HOD - Basic & Social Sciences
                      </h2>
                      <div class="row">
                          <!-- Carousel -->
                          <div id="socialsciences-faculty" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false">
                              <!-- The slideshow/carousel -->
                              <div class="carousel-inner">
                                  <div class="carousel-item active">
                                      <div class="row">
                                          <div class="faculty-content">
                                              <div class="col-md-12  col-xl-5 col-xxl-auto faculty-content__colimg">
                                                  <img src="{% static 'images/professor-images/mamtha dep4.webp' %}" class="img-fluid shadow rounded-circle" alt="Department head">
                                              </div>
                                              <div class="col-md-12  col-xl-7 col-xxl">
                                                  <h5 class="text-green"><em>Dr. M. Mamatha </em></h5>
                                                  <p><strong>Dr. Mamatha </strong>is Professor in Forest Botany at
                                                      Forest College and Research Institute.
                                                      She has worked as Assistant Professor in the Dept., of Botany,
                                                      Telangana University, Nizamabad for 11 years and 10 years
                                                      in Research Experience. She completed her M.Sc. (Botany) and
                                                      Ph.D. from Osmania University, Hyd.
                                                      <br><br>She worked as Research Assistant in the Forest
                                                      Department in Hyderabad and Research Associate in CSIR Project
                                                      Dept. of Botany. <br><br>
                                                      <a class="text-green" data-bs-toggle="modal" data-bs-target="#mamatha-bio">READ MORE</a>
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--row-->
                  </div>
                  <div id="department5" class="tab-pane fade">
                      <h2 class="playfair-family deptCommonTitle">HOD - Forest Products &
                          Utilization</h2>
                      <div class="row">
                          <div id="forestproducts-faculty" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false">
                              <div class="carousel-inner">
                                  <div class="carousel-item active">
                                      <div class="row">
                                          <div class="faculty-content">
                                              <div class="col-md-12  col-xl-5 col-xxl-auto faculty-content__colimg">
                                                  <img src="{% static 'images/professor-images//Kapil.webp' %}" class="img-fluid shadow rounded-circle" alt="Department head">
                                              </div>
                                              <div class="col-md-12  col-xl-7 col-xxl">
                                                  <h5 class="text-green"><em>Dr. Kapil Sihag</em></h5>
                                                  <p><strong>Dr. Kapil</strong> is an Assistant Professor of Wood
                                                      Science and Technology with more than 3 years of research and
                                                      teaching experience in various universities/research institutes
                                                      in India. He possesses meritorious academic record in field of
                                                      Wood Science and Technology.
                                                      <br><br>Prior to joining forest college and research institute,
                                                      he worked as Assistant Professor in college of agricultural
                                                      sciences, Uttaranchal University, Dehradun.<br><br>
                                                      <a class="text-green" data-bs-toggle="modal" data-bs-target="#kapil-bio">READ MORE</a>
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--row-->
                  </div>
                  <div id="department6" class="tab-pane fade">
                      <h2 class="text-center playfair-family deptCommonTitle" style="padding-bottom: 20px;">HOD - Tree
                          Breeding &
                          Improvement</h2>
                      <div class="row">
                          <div id="treebreeding-faculty" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false">
                              <div class="carousel-inner">
                                  <div class="carousel-item active">
                                      <div class="row">
                                          <div class="faculty-content">
                                              <div class="col-md-12  col-xl-5 col-xxl-auto faculty-content__colimg">
                                                  <img src="{% static 'images/professor-images/Reeja.webp' %}" class="img-fluid shadow rounded-circle" alt="Department head">
                                              </div>
                                              <div class="col-md-12  col-xl-7 col-xxl">
                                                  <h5 class="text-green"><em>Dr. Reeja Sundaram</em></h5>
                                                  <p><strong>Dr. Reeja</strong> is working as an Assistant Professor
                                                      at Forest College and Research Institute, Telangana. She has 6
                                                      years of Teaching, Research and Extension experience.
                                                      Her subjects of expertise include Tree Genetics, Tree Breeding
                                                      and Improvement with special focus on clonal forestry and
                                                      Conservation Biology. <br><br>She has also worked extensively
                                                      on the improvement of Bio-diesel crop Jatropha. She started her
                                                      career in 2009 as SMS at KVK, Vriddhachalam, TNAU. <br><br>
                                                      <a class="text-green" data-bs-toggle="modal" data-bs-target="#reeja-bio">READ MORE</a>
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--row-->
                  </div>
                  <div id="department7" class="tab-pane fade">
                      <h2 class="playfair-family deptCommonTitle">HOD -Forest Ecology & Climate
                          Science</h2>
                      <div class="row">
                          <div id="climatescience-faculty" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false">
                              <div class="carousel-inner">
                                  <div class="carousel-item active">
                                      <div class="row">
                                          <div class="faculty-content">
                                              <div class="col-md-12  col-xl-5 col-xxl-auto faculty-content__colimg">
                                                  <img src="{% static 'images/professor-images/Priya.webp' %}" class="img-fluid shadow rounded-circle" alt="Department head">
                                              </div>
                                              <div class="col-md-12  col-xl-7 col-xxl">
                                                  <h5 class="text-green"><em>Dr. Priya R M</em></h5>
                                                  <p><strong>Dr. Priya</strong> is an Assistant Professor of Forest
                                                      Ecology in the department of Forest Ecology and Climate Science.
                                                      Her M.Sc. work was “Vegetative propagation of <em>Pittosporum
                                                          floribundum</em> through cuttings under mid hill conditions
                                                      of Himachal Pradesh”
                                                      and Ph.D. thesis work was on “Growth, regeneration and
                                                      propagation studies of <em>Olea glandulifera</em>. <br><br>
                                                      She received merit scholarship for her master’s research as well
                                                      as DST INSPIRE fellowship for her doctoral research. <br><br>
                                                      <a class="text-green" data-bs-toggle="modal" data-bs-target="#priya-bio">READ MORE</a>
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--row-->
                  </div>
                  <div id="department8" class="tab-pane fade">
                      <h2 class="playfair-family deptCommonTitle">HOD - Library & Information
                          Science</h2>
                      <div class="row">
                          <div id="library-faculty" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false">
                              <div class="carousel-inner">
                                  <div class="carousel-item active">
                                      <div class="row">
                                          <div class="faculty-content">
                                              <div class="col-md-12  col-xl-5 col-xxl-auto faculty-content__colimg">
                                                  <img src="{% static 'images/professor-images/Sampath.png' %}" class="img-fluid shadow rounded-circle" alt="Department head">
                                              </div>
                                              <div class="col-md-12  col-xl-7 col-xxl">
                                                  <h5 class="text-green"><em>Mr. Sampath Kumar</em></h5>
                                                  <p><strong>Mr. Sampath Kumar </strong> works as a Librarian at
                                                      Forest College and Research Institute, Mulugu. He has more than
                                                      3 years of experience as an Information Assistant.
                                                      He had earlier worked as Information assistant at IIT Madras,
                                                      Chennai and R.V.M. Medical College, Mulugu, Telangana State.
                                                      <br><br>He received his Masters of Library and Information
                                                      Science from Kakatiya University and Postgraduate Diploma in
                                                      Library Automation and Networking (P.G.D.L.A.N) from University
                                                      of Hyderabad. <br><br>
                                                      <a class="text-green" data-bs-toggle="modal" data-bs-target="#sampath-bio">READ MORE</a>
                                                  </p>
                                              </div>
                                          </div>

                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                      <!--row-->
                  </div>
                  <div id="department9" class="tab-pane fade">
                      <h2 class="playfair-family deptCommonTitle">HOD - Physical Education</h2>
                      <div class="row">
                          <div id="physicaleducation-faculty" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false">
                              <div class="carousel-inner">
                                  <div class="carousel-item active">
                                      <div class="row">
                                          <div class="faculty-content">
                                              <div class="col-md-12  col-xl-5 col-xxl-auto faculty-content__colimg">
                                                  <img src="{% static 'images/professor-images/Prabhu.png' %}" class="img-fluid shadow rounded-circle" alt="Department head">
                                              </div>
                                              <div class="col-md-12  col-xl-7 col-xxl">
                                                  <h5 class="text-green"><em>Dr. K. Prabhu</em></h5>
                                                  <p><strong>Dr. K. Prabhu </strong> working as a Physical Director /
                                                      Sports Officer FCRI, Hyderabad @ Mulugu.
                                                      He has 12 years in Schools, 24 years in Junior/ Degree & PG
                                                      Colleges experience. Organising Secretary – SGFI-19 period
                                                      (2008-2009). <br><br>
                                                      Manager- SGFI A.P. and O U teams Member – Panel Inspection team
                                                      for TSWRS & TWRS schools and Colleges – 2019-20. <br><br>
                                                      <a class="text-green" data-bs-toggle="modal" data-bs-target="#prabhu-bio">READ MORE</a>
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--row-->
                  </div>
              </div>
          </div>
          <div class="col-md secfacultyFCRI__col2 deptCommonRow_Col2 h-50">
              <!-- <h6 class="text-dgreen">Faculty and department</h6> -->
              <h6 class="text-dgreen">Departments</h6>
              <ul class="nav nav-pills flex-column" role="tablist">
                  <!--<div class="col-md-3">
      <h6 class="text-dgreen">Faculty and department</h6>
      <ul class="nav nav-pills flex-column" role="tablist">-->
                  <li class="nav-item">
                      <a class="nav-link active" data-bs-toggle="pill" href="#department1">Silviculture and
                          Agroforestry</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="pill" href="#department2">natural resource management and
                          conservation</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="pill" href="#department3">wildlife and habitat
                          management</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="pill" href="#department4">basic &amp; social sciences</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="pill" href="#department5">forest products &amp;
                          utilization</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="pill" href="#department6">tree breeding &amp;
                          improvement</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="pill" href="#department7">forest ecology &amp; climate
                          science</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="pill" href="#department8">library &amp; information
                          science</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="pill" href="#department9">Physical Education</a>
                  </li>
              </ul>
          </div>
      </div>
      <!--row-->

  </div>
</section>
        
<section class="contact-section">
  <h1>
      Emerging as a World Class Institution.
  </h1>
  <h2>Forestry Education, Research, Management, and Outreach.</h2>
  <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
</section>
          


    </div>
    <div class="vision-images">
        <div class="vi">
            <img src="{% static 'images\college-images\visionimage4.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image5.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image7.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image6.webp' %}">
        </div>
    </div>
    {% include 'footer1.html' %}
       
  <script src="{% static 'js/main.js' %}"></script>
</html>
</body>