{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}

<main id="deputyDirMainCollapse">
  <section class="deputyDirPageCollpseASec">
      <div class="container-fluid">
          <div class="deputyDirPageCollpseA__Card">
              <div class="row">
                  <div class="col-lg deputyDirPageCollpseA__CardImg">
                      <img src="{% static 'images/professor-images/Venkateshwarlu-Deputy-director.jpg' %}" class="img-fluid" alt="Deputy Director">
                  </div>
                  <div class="col-lg deputyDirPageCollpseA__CardContent">
                      <h4>Sri. A. Venkateshwarlu, ACF </h4>
                      <h5>Deputy Director, FCRI </h5>
                      <p>
                          Sri. A. Venkateshwarlu is Assistant Conservator of Forests. 
                          He is working as the Deputy Director of Forest College and Research Institute, 
                          Hyderabad at Mulugu.  He has a total of 29 years of service with the Telangana 
                          State Forest Department. He is a graduate from Govt. Degree College, Siddipet 
                          and completed his M.B.A from UCC&BM, Osmania University, 2 year diploma in Forestry 
                          from GFRC Rajpipla, Gujarat. He worked in IT wing of Forest Department and contributed 
                          his best for the development of Forest Management Information System for which he was 
                          awarded with Hon’ble Chief Minister Medal. He acquired extensive knowledge in Medicinal 
                          Plants by serving in Telangana State Medicinal Plants Board for a period of 7.5 Years as
                          Deputy Executive Officer. He has experience in rural development, urban forestry, 
                          landscaping works and extension activities.
                      </p>
                      <div class="row align-md-center">
                          <div class="col-12 col-md">
                              <ul class="list-inline">
                                  <li class="list-inline-item">
                                      <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>
                                          <span class="__cf_email__" data-cfemail="dbbfbfbdb8a9b29bbcb6bab2b7f5b8b4b6">ddfccri@gmail.com</span></a>
                                  </li>
                                  <li class="list-inline-item">
                                      <a href="tel:+918688828669"><i class="fa fa-phone" aria-hidden="true"></i>
                                          +91 86888 28669</a>
                                  </li>
                              </ul>
                          </div>
                          <!-- <div class="col-12 col-md-auto text-start">
                              <button type="button" data-bs-toggle="collapse" href="#ddpageCollp01"
                                  class="btn btn-primary ddpageBtn" aria-expanded="false">
                                  <span> View Message </span><i class="fa fa-angle-down" aria-hidden="true"></i>
                              </button>
                          </div> -->
                      </div>
                  </div>
              </div>
          </div>


      </div>
  </section>
  <section id="ddpageCollp01" class="collapse deputyDirPageCollpseBSec" data-bs-parent="#deputyDirMainCollapse">
      <div class="container">
          <p>
              The FCRI offers forestry education leading to B.Sc/M.Sc/Ph.D. The curriculum is designed to cater the needs of
              holistic development of students through the regular exposure to fields, study tours, internships,
              attachments to NGO’s, industries, interaction with senior forest officers and eminent faculty in the
              field apart from cultural, NSS, Sports events. The FCRI has world class facilities in an area of 52 ha
              in Mulugu Reserve Forest Block and highly experienced team of faculty who are always ready to take up
              challenges in research and teaching. FCRI is networking with many related organizations all over the
              country.
          </p>
          <p>
              The FCRI organizes regular workshops, seminars & conferences for the development of students and
              faculty. In the coming years, FCRI is going to be the centre of excellence by achieving its vision in
              Forestry Research and Training with committed faculty, staff and students.
          </p>

          <!--             
          <h6>
              Wish you an extraordinary future and wonderful accomplishments.
          </h6> -->
      </div>
  </section>
  <section class="deputyDirPageCollpseASec">
      <div class="container-fluid">
          <div class="deputyDirPageCollpseA__Card">
              <div class="row">
                  <div class="col-lg deputyDirPageCollpseA__CardImg">
                      <img src="{% static 'images/professor-images/a_narasimha_reddy-Deputy-Director3.jpg' %}" class="img-fluid" alt="Deputy Director">
                  </div>
                  <div class="col-lg deputyDirPageCollpseA__CardContent">
                      <h4>A. Narasimha Reddy</h4>
                      <h5>Deputy Conservator of Forests, FCRI</h5>
                      <p>
                      A. Narasimha Reddy, is working in FCRI since 2019. Before joining FCRI, he worked in various Divisions as Sub-DFO and DFO in Warangal, Kothagudem, Gadwal, Kagaznagar Forest Divisions. His educational qualifications include- M.Tech (IIT Kharagpur), LLB (Osmania University), 2 Year Diploma (Hons.) in Forestry, CASFOS, Dehradun (recognized as equivalent to M.Sc. Forestry by FRI Dehradun), Advanced P.G.Diploma in Wildlife Management, WII Dehradun. 
                      </p>
                      <div class="row align-md-center">
                          <div class="col-12 col-md">
                              <ul class="list-inline">
                                  <li class="list-inline-item">
                                      <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>
                                              <span class="__cf_email__" data-cfemail="304443565342590200020170575d51595c1e535f5d">tsfcri2021@gmail.com</span> </a>
                                  </li>
                                  <li class="list-inline-item">
                                      <a href="tel:+919491869556"><i class="fa fa-phone" aria-hidden="true"></i>
                                          +91 94918 69556</a>
                                  </li>
                              </ul>
                          </div>
                          <!-- <div class="col-12 col-md-auto  text-start">
                              <button type=" button" data-bs-toggle="collapse" href="#ddpageCollp02"
                                  class="btn btn-primary ddpageBtn" aria-expanded="false">
                                  <span> View Message </span><i class="fa fa-angle-down" aria-hidden="true"></i>
                              </button>
                          </div> -->
                      </div>

                  </div>
              </div>
          </div>


      </div>
  </section>
  <section id="ddpageCollp02" class="collapse deputyDirPageCollpseBSec" data-bs-parent="#deputyDirMainCollapse">
      <div class="container">
          <p>
              Established in the year 20l6, FCRI Hyderabad is the only one of its kind in both the Telugu States of
              Telangana and Andhra Pradesh offering professional Forestry degrees like B.Sc. (Hons.) Forestry, M.Sc.
              Forestry and PhD Forestry. Recently, FCRI received ICFRE accreditation with A<sup>•</sup> grade,
              marching ahead
              towards its vision of emerging as a world-class institution for Forestry Education, Research, Management
              and Outreach. Within a short span of its existence, FCRI Hyderabad has won many accolades including
              "Green Champion Award" for the year 2020- 21 from Dept. of Higher Education, Govt. of India for its
              clean and green campus. In addition to academics, students are also mentored for career development
              under the aegis of FCRI Study Circle, by providing guidance for various entrance like ICAR AlEEA and
              various competitive exams like IAS, IFS etc. With these efforts, our students had topped various
              entrances and got PG admissions in prestigious national universities. Two of our students were also
              admitted into Auburn University (USA) along with full-tuition fee waiver and stipend. Two of our
              students were selected for interview of CDS 2020 exam conducted by UPSC. With all these achievements in
              a short span, our students are poised to bring many more laurels to our institution and we wish them a
              bright future head.
          </p>
          <!-- <h6>
              Wish you an extraordinary future and wonderful accomplishments.
          </h6> -->
      </div>
  </section>
</main>
          



        <section class="contact-section">
            <h1>
                Emerging as a World Class Institution.
            </h1>
            <h2>Forestry Education, Research, Management, and Outreach.</h2>
            <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
        </section>
    </div>
    <div class="vision-images">
        <div class="vi">
            <img src="{% static 'images\college-images\visionimage4.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image5.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image7.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image6.webp' %}">
        </div>
    </div>
    {% include 'footer1.html' %}
      
       
  <script src="{% static 'js/main.js' %}"></script>
</body>