{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}

        <section class="profiles-section">
            <!-- Profile 1 -->
            <div class="profile-box">
              <div class="profile-image">
                <img src="{% static 'images\professor-images\Venkateshwarlu-Deputy-director.jpg' %}" alt="Sri. A. Venkateshwarlu" />
              </div>
              <div class="profile-content">
                <h2>Sri. A. Venkateshwarlu, ACF</h2>
                <h3>Deputy Director, FCRI</h3>
                <p>
                  Sri. A. Venkateshwarlu is Assistant Conservator of Forests. He is working as the Deputy Director of Forest College and Research Institute, Hyderabad at Mulugu. He has a total of 29 years of service with the Telangana State Forest Department. He is a graduate from Govt. Degree College, Siddipet and completed his M.B.A from UCC&BM, Osmania University, 2 year diploma in Forestry from GFRC Rajpipla, Gujarat. He worked in IT wing of Forest Department and contributed his best for the development of Forest Management Information System for which he was awarded with Hon’ble Chief Minister Medal. He acquired extensive knowledge in Medicinal Plants by serving in Telangana State Medicinal Plants Board for a period of 7.5 Years as Deputy Executive Officer. He has experience in rural development, urban forestry, landscaping works and extension activities.
                </p>
                <p>Email: <a href="mailto:ddfcri@gmail.com">ddfcri@gmail.com</a></p>
                <p>Phone: +91 86888 28669</p>
              </div>
            </div>
          
            <!-- Profile 2 -->
            <div class="profile-box">
              <div class="profile-image">
                <img src="{% static 'images\professor-images\a_narasimha_reddy-Deputy-Director3.jpg' %}" alt="A. Narasimha Reddy" />
              </div>
              <div class="profile-content">
                <h2>A. Narasimha Reddy</h2>
                <h3>Deputy Conservator of Forests, FCRI</h3>
                <p>
                  A. Narasimha Reddy is working in FCRI since 2019. Before joining FCRI, he worked in various Divisions as Sub-DFO and DFO in Warangal, Kothagudem, Gadwal, Kagaznagar Forest Divisions. His educational qualifications include- M.Tech (IIT Kharagpur), LLB (Osmania University), 2 Year Diploma (Hons.) in Forestry, CASFOS, Dehradun (recognized as equivalent to M.Sc. Forestry by FRI Dehradun), Advanced P.G.Diploma in Wildlife Management, WII Dehradun.
                </p>
                <p>Email: <a href="mailto:tsfcri2021@gmail.com">tsfcri2021@gmail.com</a></p>
                <p>Phone: +91 94918 69556</p>
              </div>
            </div>
          </section>
          



        <section class="contact-section">
            <h1>
                Emerging as a World Class Institution.
            </h1>
            <h2>Forestry Education, Research, Management, and Outreach.</h2>
            <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
        </section>
    </div>
    <div class="vision-images">
        <div class="vi">
            <img src="{% static 'images\college-images\visionimage4.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image5.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image7.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image6.webp' %}">
        </div>
    </div>
    {% include 'footer1.html' %}
      
       
  <script src="{% static 'js/main.js' %}"></script>
</body>