{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}



<main class="downloadsPageMain">
    <div class="container-xl container-xxl">
      <ul class="nav nav-pills downloadsPageNav" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#dpTab_02"
            >Notifications</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#dpTab_01"
            >Tenders</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#dpTab_06">G.O's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#dpTab_03"
            >Circulars</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#dpTab_04"
            >Academic Downloads</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#dpTab_07"
            >Careers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#dpTab_05"
            >Others</a
          >
        </li>
      </ul>
    </div>
    <div class="container-xl container-xxl">
      <div class="tab-content downloadsPageTabContent">
        <div class="tab-pane fade" id="dpTab_01">
          <ul class="dpTabContentUl list-unstyled">
            <li>
              <a
                href="{% static 'doc/doc3/tender/Tender_RC_for_Chemicals_Glassware_etc.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Tender Document for Rate Contract for Supply of Chemicals,
              Glassware etc.
            </li>
            <li>
              <a
                href="{% static 'doc/doc3/tender/Tender-Notice-for-Website.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Tender Notice for Website
            </li>
            <li>
              <a
                href="{% static 'doc/doc3/tender/FECS-Tender-Notice-for-Website.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              FECS Tender Notice for Website
            </li>
            <li>
              <a
                href="{% static 'doc/doc3/tender/NOTICE.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Outsourcing Tender Notice
            </li>
            <li>
              <a
                href="{% static 'doc/doc3/tender/TENDER-DOCUMENT.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Outsourcing Tender Document
            </li>
            <!-- <li>
                  <a href="#" class="stretched-link "></a>
                  Joinning Instructions
              </li>
              <li>
                  <a href="#" class="stretched-link "></a>
                  Instructions to Candidates
              </li>
              <li>
                  <a href="https://fcriqa.fcrits.in/wp-content/uploads/2022/06/Anti_Ragging_Affidavit_PARENT_GUARDIAN_08_2019.pdf" target="_blank" class="stretched-link "></a>
                  Anti Ragging Affidavit
              </li>
              <li>
                  <a href="#" class="stretched-link "></a>
                  Selected Candidates List (9)
              </li> -->
          </ul>
        </div>
        <div class="tab-pane active" id="dpTab_02">
          <ul class="dpTabContentUl list-unstyled">
            <li>
              <a
                href="{% static 'doc2/noti/National-Seminar-on-IPR-in-FGR.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              NATIONAL SEMINAR on Intellectual Property Rights (IPR) in Forest
              Genetic Resource Conservation & Management
            </li>
            <li>
              <a
                href="doc2/noti/PG-Admission-Schedule-2022.pdf"
                target="_blank"
                class="stretched-link"
              ></a>
              PG Admission Schedule - 2022
            </li>
            <li>
              <a
                href="{% static 'doc2/noti/English-Notification-for-PG-2022.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              PG Admission Notification - 2022 (English)
            </li>
            <li>
              <a
                href="{% static 'doc2/noti/FCRI-Admission-Notification-2022Telugu.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              PG Admission Notification - 2022 (Telugu)
            </li>
            <li>
              <a
                href="{% static 'doc2/noti/3rd-list.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              B.Sc.(Hons.) Forestry Admission 2022 Seat Allotment List - 3
            </li>
            <li>
              <a
                href="{% static 'doc2/noti/Revised-Admission-Schedule.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              UG Admissions Schedule - 2022
            </li>
            <li>
              <a
                href="{% static 'doc2/noti/FCRI-Admission-Notification-2022English.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Admission Notification - 2022 (English)
            </li>
            <li>
              <a
                href="{% static 'doc2/noti/FCRI-Admission-Notification-2022Telugu.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Admission Notification - 2022 (Telugu)
            </li>
            <li>
              <a
                href="{% static '' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Kasarla Raju (2017-2021) Batch Student secured AIR 86 Rank in
              IFS Exam-2021 in 1<sup>st</sup> Attempt
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="dpTab_03">
          <ul class="dpTabContentUl list-unstyled">
            <li>
              <a
                href="{% static 'doc/doc5/circular-republic-day (1).pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Circular Republic Day
            </li>
            <li>
              <a
                href="{% static 'doc/doc5/COVID-crisis.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Dean Circular to COVID-19
            </li>
            <li>
              <a
                href="{% static 'doc/doc5/circular-republic-day (1).pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              72<sup>nd</sup> Republic Day celebration with flag hosting on
              26th January -2021
            </li>
            <li>
              <a
                href="{% static 'doc/doc5/Establishment-of-IT-LAB.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Establishment of IT LAB at FCRI Certain information on
              functioning of IT Lab
            </li>
            <li>
              <a
                href="{% static 'doc/doc5/DD-Circular-to-Faculty-for-Labs.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              FCRI-Use of Laboratories by Faculty
            </li>
            <li>
              <a
                href="{% static 'doc/doc5/csfsfm.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Climate Smart Forestry Through Adaptive Forest Management
            </li>
            <li>
              <a
                href="{% static 'doc/doc5/guest-lectures.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Dr K Kumaran, Professor( Tree Improvement) of Forest College &
              Research Institute, Mettupalayam, TNAU Visited FCRI
            </li>
            <li>
              <a
                href="{% static 'doc/doc5/Establishment-of-IT-LAB2.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              FCRI – Establishment of IT LAB at Forest College and Research
              Institute Certain information on functioning of IT Lab
            </li>
            <li>
              <a
                href="{% static 'doc/doc5/COVID-crisis.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Considering the delayed semesters in the wake of COVID crisis
            </li>
            <li>
              <a
                href="{% static 'doc/doc5/Non-teaching-staff.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Non teaching staff (Except Drivers) of FCRI, Hyderabad at Mulugu
              alternate duties allotted due to COVID-19
            </li>
            <li>
              <a
                href="{% static 'doc/doc5/DD-Circular-to-AO.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              FCRI-Imtimation regarding the Appointment of Administrative
              Officer
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="dpTab_04">
          <ul class="dpTabContentUl list-unstyled">
            <li>
              <a
                href="{% static 'doc/doc6/Acedemic-calender-2021-2022.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Academic calendar 2021-2022
            </li>
            <li>
              <a
                href="{% static 'doc/doc6/B.SC_.-HONS.-FORESTRY–SEMESTER-I.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Time Table for B.Sc. (Hons.) Forestry - Semester-I (2021 BATCH)
            </li>
            <li>
              <a
                href="{% static 'doc/doc6/Time-Table-for-BScHons-Forestry-SemesterII2021-batch2021-22.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Time Table for B.Sc. (Hons.) Forestry - Semester-II (2020 batch)
            </li>
            <li>
              <a
                href="{% static 'doc/doc6/Time-Table-for-BSc-Hons-Forestry-Semester-IV2020-batch.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Time Table for B.Sc. (Hons.) Forestry - Semester-IV
            </li>
            <li>
              <a
                href="doc/doc6/Time-Table-for-BSc-Hons-FORESTRY-Semester-V2020-batch-2022-23.pdf"
                target="_blank"
                class="stretched-link"
              ></a>
              Time Table for B.Sc. (Hons.) Forestry - Semester V (2020 batch)
              2022-23
            </li>
            <li>
              <a
                href="{% static 'doc/doc6/Time-Table-for-BSc-Hons-Forestry-Semester-VI.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Time Table for B.Sc. (Hons.) Forestry - Semester VI
            </li>
            <li>
              <a
                href="{% static 'doc/doc6/Time-Table-for-B.Sc_.-Hons.-Forestry-Semester-VII.jpeg' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Time Table for B.Sc. (Hons.) Forestry - Semester VII
            </li>
            <li>
              <a
                href="{% static 'doc/doc6/Time-Table-for-B.Sc_.-Hons.-Forestry-Semester-VIII.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Time Table for B.Sc. (Hons.) Forestry - Semester VIII
            </li>
            <li>
              <a
                href="{% static 'doc/doc6/Time-Table-for-BSc-Hons-Forestry-Semester-II2020-batch.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Time Table FOR B.Sc. (Hons.) Forestry - Semester II (2021 batch)
              2021-22
            </li>
            <li>
              <a
                href="{% static 'doc/doc6/MSC-II-Sem-Regular-Exams-Dec-2021.pdf' %}"
                target="_blank"
                class="stretched-link"
              ></a>
              Time Table for M.Sc. Forestry 1<sup>st</sup> Year, II Semester
              Regular Examinations-December 2021
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="dpTab_05">
          
        </div>
        <div class="tab-pane fade" id="dpTab_06">
          <ul class="dpTabContentUl list-unstyled">
            <li>
              <a
                href=""
                class="stretched-link"
                target="_blank"
              ></a>
              2015EFST RT90
            </li>
            <li>
              <a
                href="{% static 'doc/doc4/2015EFST_RT90.pdf' %}"
                class="stretched-link"
                target="_blank"
              ></a>
              2016EFST MS 07 Governing Board and Academic Council Approval
            </li>
            <li>
              <a
                href="{% static 'doc/doc4/2016EFST_MS28.pdf' %}"
                class="stretched-link"
                target="_blank"
              ></a>
              2016EFST MS28
            </li>
            <li>
              <a
                href="{% static 'doc/doc4/2016EFST_MS29.pdf' %}"
                class="stretched-link"
                target="_blank"
              ></a>
              2016EFST MS29
            </li>
            <li>
              <a
                href="{% static 'doc/doc4/2016EFST_RT62.pdf' %}"
                class="stretched-link"
                target="_blank"
              ></a>
              2016EFST RT62
            </li>
            <li>
              <a
                href="{% static 'doc/doc4/GO-MS-51-09-10-15.pdf' %}"
                class="stretched-link"
                target="_blank"
              ></a>
              GO MS 51-09-10-15
            </li>
            <li>
              <a
                href="{% static 'doc/doc4/GO-MS-51-09-10-15.pdf' %}"
                class="stretched-link"
                target="_blank"
              ></a>
              GO MS 53-30-04-16 FINANCE
            </li>
            <li>
              <a
                href="{% static 'doc/doc4/Payment_Quota_G_O.pdf' %}"
                class="stretched-link"
                target="_blank"
              ></a>
              Payment Quota GO
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="dpTab_07">
          
        </div>
      </div>
    </div>
  </main>








<section class="contact-section">
    <h1>
        Emerging as a World Class Institution.
    </h1>
    <h2>Forestry Education, Research, Management, and Outreach.</h2>
    <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
</section>
</div>
<div class="vision-images">
<div class="vi">
    <img src="{% static 'images\college-images\visionimage4.webp' %}">
</div>
<div class="vi">
    <img src="{% static 'images\college-images\vision-image5.webp' %}">
</div>
<div class="vi">
    <img src="{% static 'images\college-images\vision-image7.webp' %}">
</div>
<div class="vi">
    <img src="{% static 'images\college-images\vision-image6.webp' %}">
</div>
</div>
{% include 'footer1.html' %}
{% include 'bootom_footer.html' %}

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
