{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}
<section
      class="postContentSection commanSecPadding section-padding blog-posts"
      id="post"
    >
      <div class="container-fluid section-space">
        <div class="row">
          <div class="col-lg-9">
            <div class="blog-content">
              <h4 id="news">
                Grads sharpen leadership skills with Lake Forest Graduate School
                of Management
              </h4>
              <!--<h5 class="by-author">By <strong></strong></h5>-->
              <!-- <h5 class="date-month">February 13, 2024</h5> -->

              <img
                src="{% static 'images/events/latest_image1.webp' %}"
                alt="Grads sharpen leadership skills with Lake Forest Graduate School of Management"
                title="sample_image"
                class="img-fluid d-block"
              />
              <p>
                Tech careers are constantly shifting as new innovations move the
                field forward. Overcoming obstacles and staying relevant can be
                challenging. How have other women in the field succeeded?
              </p>

              <p>
                At&nbsp;<strong
                  >The Outlet 18: Innovating Your Career in Tech (Wednesday, May
                  18th from 12:00 &#8211; 1:00 PM EDT)</strong
                >, our panelists will share their journey, and provide insight
                into how to be innovative to keep your tech career going strong.
              </p>

              <p>
                SheTek Founder and President&nbsp;<strong
                  >Chaya Pamula&nbsp;</strong
                >will be joined by&nbsp;<strong>Dr Shanta Thoutam</strong>,
                Chief Innovation Officer of Telangana State in India. Dr.
                Thoutam is the first woman to hold this position, where she will
                be heading the Telangana State Innovation Cell (TSIC). These
                dynamic women will be discussing their challenges and triumphs
                they&#8217;ve had in their careers, as well as providing insight
                and inspiration for you in your career journey.
              </p>

              <p>
                Don&#8217;t miss a lively discussion, and the opportunity to get
                your questions answered by two innovative, encouraging, and
                inspirational women. Tickets are free! Register today!
              </p>

              <div class="blogShare_with">
                <ul class="nav">
                  <li class="nav-item">Share With :</li>
                  <li class="nav-item facebook">
                    <a
                      href="https://www.facebook.com/sharer?u=https://fcriqa.fcrits.in/event/grads-sharpen-leadership-skills-with-lake-forest-graduate-school-of-management/&t=Grads+sharpen+leadership+skills+with+Lake+Forest+Graduate+School+of+Management"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="fa-brands fa-facebook-f" aria-hidden="true"
                        ><span class="d-none">Facebook icon</span></i
                      ></a
                    >
                  </li>
                  <li class="nav-item twitter">
                    <a
                      title="Click to share this post on Twitter"
                      href="http://twitter.com/intent/tweet?text=Grads+sharpen+leadership+skills+with+Lake+Forest+Graduate+School+of+Management&url=https://fcriqa.fcrits.in/event/grads-sharpen-leadership-skills-with-lake-forest-graduate-school-of-management/"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="fa-brands fa-x-twitter" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li class="nav-item linkedin">
                    <a
                      href="http://www.linkedin.com/shareArticle?mini=true&url=https://fcriqa.fcrits.in/event/grads-sharpen-leadership-skills-with-lake-forest-graduate-school-of-management/&title=Grads+sharpen+leadership+skills+with+Lake+Forest+Graduate+School+of+Management&summary=&source=Forest College & Research Institute"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="fa-brands fa-linkedin-in" aria-hidden="true"
                        ><span class="d-none">Linkedin icon</span></i
                      ></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div
              class="postwidget wow fadeInUp"
              data-wow-duration="1s"
              data-wow-delay="0.5s"
            >
              <div class="list-group">
                <li class="list-group-item bg-black">Events</li>
                <div class="list-group-scroll scroll" id="events-weidget">
                  <a
                    href=""
                    class="list-group-item list-group-item-action"
                  >
                    <!-- <a href="#casesudies1" class="list-group-item list-group-item-action" > -->

                    Receives prestigious award from Children’s Tumor Foundation
                  </a>
                  <a
                    href=""
                    class="list-group-item list-group-item-action"
                  >
                    <!-- <a href="#casesudies1" class="list-group-item list-group-item-action" > -->

                    Grads sharpen leadership skills with Lake Forest Graduate
                    School of Management
                  </a>
                  <a
                    href=""
                    class="list-group-item list-group-item-action"
                  >
                    <!-- <a href="#casesudies1" class="list-group-item list-group-item-action" > -->

                    Students bags top ranks in ICAR
                  </a>
                  <a
                    href=""
                    class="list-group-item list-group-item-action"
                  >
                    <!-- <a href="#casesudies1" class="list-group-item list-group-item-action" > -->

                    Students securing seats for Masters Program at National
                  </a>
                  <a
                    href=""
                    class="list-group-item list-group-item-action"
                  >
                    <!-- <a href="#casesudies1" class="list-group-item list-group-item-action" > -->

                    FCRI students securing seats for Masters Program at National
                  </a>
                  <a
                    href=""
                    class="list-group-item list-group-item-action"
                  >
                    <!-- <a href="#casesudies1" class="list-group-item list-group-item-action" > -->

                    FCRI Students bags top ranks in ICAR
                  </a>
                  <a
                    href=""
                    class="list-group-item list-group-item-action"
                  >
                    <!-- <a href="#casesudies1" class="list-group-item list-group-item-action" > -->

                    Recent grads sharpen leadership skills with Lake Forest
                    Graduate School of Management
                  </a>
                  <a
                    href=""
                    class="list-group-item list-group-item-action"
                  >
                    <!-- <a href="#casesudies1" class="list-group-item list-group-item-action" > -->

                    Alumnus receives prestigious award from Children’s Tumor
                    Foundation
                  </a>
                </div>
              </div>
            </div>
            <!-- recent-casestudies-sidenav -->
          </div>
          <!-- side-nav -->
        </div>
      </div>
    </section>
    <section class="contact-section">
        <h1>
            Emerging as a World Class Institution.
        </h1>
        <h2>Forestry Education, Research, Management, and Outreach.</h2>
        <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
    </section>
    </div>
    <div class="vision-images">
    <div class="vi">
        <img src="{% static 'images\college-images\visionimage4.webp' %}">
    </div>
    <div class="vi">
        <img src="{% static 'images\college-images\vision-image5.webp' %}">
    </div>
    <div class="vi">
        <img src="{% static 'images\college-images\vision-image7.webp' %}">
    </div>
    <div class="vi">
        <img src="{% static 'images\college-images\vision-image6.webp' %}">
    </div>
    </div>
    {% include 'footer1.html' %}
    
    {% include 'bootom_footer.html' %}
    <script src="{% static 'js/main.js' %}"></script>
    </body>
    </html>
    