{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}

<section
      class="dean-section infrastructure-bg faqSection"
      style="padding-bottom: 30px"
    >
      <div class="container-xl container-xxl">
        <div class="row">
          <div class="accordion" id="accordion1">
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading1">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol1"
                  aria-expanded="true"
                  aria-controls="collapsecol1"
                >
                  <h5 class="text-white">
                    1. What is the opening and closing date of the admission
                    process?
                  </h5>
                </button>
              </h2>
              <div
                id="collapsecol1"
                class="accordion-collapse collapse show"
                aria-labelledby="colheading1"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  Applications will be invited online through
                  <a
                    href="#"
                    onmouseover="this.style.color='#f1f251';"
                    style="color: rgb(241, 242, 81); text-decoration: underline"
                    >www.fcrits.in</a
                  >
                  tentatively from 25th May to 29th June without late fee and
                  15th July with late fee. The admission process will start
                  immediately after the closing date, followed by certificate
                  verification and counseling. The important dates of events of
                  application and selection process will be displayed online.
                  Frequent visit to the website is recommended.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading2">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol2"
                  aria-expanded="false"
                  aria-controls="collapsecol2"
                >
                  <h5 class="text-white">
                    2. How shall I find out if I am admitted?
                  </h5>
                </button>
              </h2>
              <div
                id="collapsecol2"
                class="accordion-collapse collapse"
                aria-labelledby="colheading2"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  The list of selected applicants will be uploaded in the
                  website
                  <a
                    href="#"
                    onmouseover="this.style.color='##f1f251';"
                    style="color: rgb(241, 242, 81); text-decoration: underline"
                    >www.fcrits.in</a
                  >. All official decisions are communicated through website.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading3">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol3"
                  aria-expanded="false"
                  aria-controls="collapsecol3"
                >
                  <h5 class="text-white">3. When do the classes start from?</h5>
                </button>
              </h2>
              <div
                id="collapsecol3"
                class="accordion-collapse collapse"
                aria-labelledby="colheading3"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  The classes will commence from 1st week of August.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading4">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol4"
                  aria-expanded="false"
                  aria-controls="collapsecol4"
                >
                  <h5 class="text-white">4. Medium of Instruction</h5>
                </button>
              </h2>
              <div
                id="collapsecol4"
                class="accordion-collapse collapse"
                aria-labelledby="colheading4"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  English
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading5">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol5"
                  aria-expanded="false"
                  aria-controls="collapsecol5"
                >
                  <h5 class="text-white">
                    5. What is the eligibility criterion to get into the
                    institute?
                  </h5>
                </button>
              </h2>
              <div
                id="collapsecol5"
                class="accordion-collapse collapse"
                aria-labelledby="colheading5"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  The Admission will be based on TS – EAMCET -2019 (AM) ranks
                  for the students who have completed Intermediate or Equivalent
                  course (10+2) with Biology, Physics and Chemistry (Bi.P.C) are
                  eligible.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading6">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol6"
                  aria-expanded="false"
                  aria-controls="collapsecol6"
                >
                  <h5 class="text-white">6. How can I apply?</h5>
                </button>
              </h2>
              <div
                id="collapsecol6"
                class="accordion-collapse collapse"
                aria-labelledby="colheading6"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  Log on to
                  <a
                    href="#"
                    onmouseover="this.style.color='#f1f251';"
                    style="color: rgb(241, 242, 81); text-decoration: underline"
                    >www.fcrits.in</a
                  >--&gt; Apply online-&gt; Register-&gt; Fill the details
                  required-&gt; make Payment online-&gt; upload photo, relevant
                  documents and submit for acknowledgement.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading7">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol7"
                  aria-expanded="false"
                  aria-controls="collapsecol7"
                >
                  <h5 class="text-white">
                    7. What are the documents required to be submitted along
                    with application?
                  </h5>
                </button>
              </h2>
              <div
                id="collapsecol7"
                class="accordion-collapse collapse"
                aria-labelledby="colheading7"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  <ol>
                    <li>Intermediate Marks Certificate,</li>
                    <li>10th class Marks certificate,</li>
                    <li>Birth Certificate,</li>
                    <li>Nativity Certificate,</li>
                    <li>Community Certificate (if applicable),</li>
                    <li>Study certificate (I to X),</li>
                    <li>Income certificate (if eligible),</li>
                    <li>PHC Certificate (if eligible),</li>
                    <li>Sports/NCC certificate (if eligible),</li>
                    <li>TS – EAMCET Rank Card.</li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading8">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol8"
                  aria-expanded="false"
                  aria-controls="collapsecol8"
                >
                  <h5 class="text-white">
                    8. What is the application fee and how to process it?
                  </h5>
                </button>
              </h2>
              <div
                id="collapsecol8"
                class="accordion-collapse collapse"
                aria-labelledby="colheading8"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  The application fee for the year 2019-20 is Rs.1000/- for
                  general Category and Rs.500/- for SC/ST/PHC. The amount should
                  be paid online through Net Banking or Debit/Credit Card.
                  Application is considered valid only if the payment is
                  successful.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading9">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol9"
                  aria-expanded="false"
                  aria-controls="collapsecol9"
                >
                  <h5 class="text-white">
                    9. What is the scope of the course?
                  </h5>
                </button>
              </h2>
              <div
                id="collapsecol9"
                class="accordion-collapse collapse"
                aria-labelledby="colheading9"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  The course enables the professionals to take up the challenges
                  in various government and non-governmental organizations
                  related to management of forestry and natural resources.
                  Further students can pursue M.Sc Forestry &amp; Ph.D Forestry.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading10">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol10"
                  aria-expanded="false"
                  aria-controls="collapsecol10"
                >
                  <h5 class="text-white">
                    10. What’s the best general advice for an incoming student?
                  </h5>
                </button>
              </h2>
              <div
                id="collapsecol10"
                class="accordion-collapse collapse"
                aria-labelledby="colheading10"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  Discipline, Attitude and Confidence can scale you to mount
                  higher peaks.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading12">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol12"
                  aria-expanded="false"
                  aria-controls="collapsecol12"
                >
                  <h5 class="text-white">11. Can I be a Day-Scholar?</h5>
                </button>
              </h2>
              <div
                id="collapsecol12"
                class="accordion-collapse collapse"
                aria-labelledby="colheading12"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  No. It’s a compulsory residential course.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading13">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol13"
                  aria-expanded="false"
                  aria-controls="collapsecol13"
                >
                  <h5 class="text-white">12. Is there a management quota?</h5>
                </button>
              </h2>
              <div
                id="collapsecol13"
                class="accordion-collapse collapse"
                aria-labelledby="colheading13"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  No. The selection is based on Merit only.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading14">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol14"
                  aria-expanded="false"
                  aria-controls="collapsecol14"
                >
                  <h5 class="text-white">
                    13. How many forest colleges are there in Telangana?
                  </h5>
                </button>
              </h2>
              <div
                id="collapsecol14"
                class="accordion-collapse collapse"
                aria-labelledby="colheading14"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  This is the first professional college for forestry course in
                  Telangana and affiliated to Osmania University, Hyderabad.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading15">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol15"
                  aria-expanded="false"
                  aria-controls="collapsecol15"
                >
                  <h5 class="text-white">
                    14. What is the over-all fee structure?
                  </h5>
                </button>
              </h2>
              <div
                id="collapsecol15"
                class="accordion-collapse collapse"
                aria-labelledby="colheading15"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  The Approximate fee structure excluding Mess fees comes to
                  around Rs.25, 000/- per year.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading16">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol16"
                  aria-expanded="false"
                  aria-controls="collapsecol16"
                >
                  <h5 class="text-white">
                    15. Can I avail for scholarship/education loan?
                  </h5>
                </button>
              </h2>
              <div
                id="collapsecol16"
                class="accordion-collapse collapse"
                aria-labelledby="colheading16"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  Student can avail his/her scholarship provided by
                  state/central government if eligible. In case the student
                  needs education loan, Bona-fide and expenditure statement is
                  provided to him/her by the institution.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading17">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol17"
                  aria-expanded="false"
                  aria-controls="collapsecol17"
                >
                  <h5 class="text-white">16. How to reach the college?</h5>
                </button>
              </h2>
              <div
                id="collapsecol17"
                class="accordion-collapse collapse"
                aria-labelledby="colheading17"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  The permanent campus is located in Hyderabad at Mulugu, Near
                  Shameerpet, Siddipet District, Telangana State, which is 43
                  kms from Secunderabad railway station and 40 kms from Jubilee
                  Bus station (Secunderabad).
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading18">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol18"
                  aria-expanded="false"
                  aria-controls="collapsecol18"
                >
                  <h5 class="text-white">
                    17. Is there any security available for hostels?
                  </h5>
                </button>
              </h2>
              <div
                id="collapsecol18"
                class="accordion-collapse collapse"
                aria-labelledby="colheading18"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  The hostels are well-furnished and highly guarded by armed
                  security personnel. The security services are available all
                  through-out 24/7. There is separate boarding for boys and
                  girls with hygienic and quality Mess facility. There are
                  separate wardens for boys and girls hostels who can be reached
                  out anytime.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="colheading19">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsecol19"
                  aria-expanded="false"
                  aria-controls="collapsecol19"
                >
                  <h5 class="text-white">
                    18. What is the duration of the course?
                  </h5>
                </button>
              </h2>
              <div
                id="collapsecol19"
                class="accordion-collapse collapse"
                aria-labelledby="colheading19"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  <b>Answer:</b><br />
                  It’s a Four year professional degree programme with 8
                  semesters.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="research-section text-center">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 research-quote">
				<h1 class="playfair-family text-dgreen">Emerging as a World Class Institution for</h1>
				<h2 class="text-green playfair-family">Forestry Education, Research, Management and Outreach.</h2>
				<p class="text-dgreen pt-3 pb-3">To bring out the qualified forestry professionals for conservation and sustainable management
				of forest resources.</p>
				 <button type="button" class="btn rounded-pill primary-green mx-auto">contact us</button>
				<a href="https://fcriqa.fcrits.in/contact/"><button type="button" class="nav-link btn btn btn-success text-white rounded-pill">Contact Us</button></a>
			</div>
		</div>
	</div>
</section>
<section class="fcri-footer-gallery">
	<div class="d-flex align-items-center">
		<div class="flex-fill">
			<img src="http://ezysubscribe.com/QA/fcriqa/wp-content/uploads/2022/04/footer_gallery1.webp" class="img-fluid">
		</div>
		<div class="flex-fill">
			<img src="http://ezysubscribe.com/QA/fcriqa/wp-content/uploads/2022/04/footer_gallery2.webp" class="img-fluid">
		</div>
		<div class="flex-fill">
			<img src="http://ezysubscribe.com/QA/fcriqa/wp-content/uploads/2022/04/footer_gallery3.webp" class="img-fluid">
		</div>
		<div class="flex-fill">
			<img src="http://ezysubscribe.com/QA/fcriqa/wp-content/uploads/2022/04/footer_gallery4.webp" class="img-fluid">
		</div>
	</div>
</section> -->
    



<section class="contact-section">
    <h1>
        Emerging as a World Class Institution.
    </h1>
    <h2>Forestry Education, Research, Management, and Outreach.</h2>
    <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
</section>
</div>
<div class="vision-images">
<div class="vi">
    <img src="{% static 'images\college-images\visionimage4.webp' %}">
</div>
<div class="vi">
    <img src="{% static 'images\college-images\vision-image5.webp' %}">
</div>
<div class="vi">
    <img src="{% static 'images\college-images\vision-image7.webp' %}">
</div>
<div class="vi">
    <img src="{% static 'images\college-images\vision-image6.webp' %}">
</div>
</div>
{% include 'footer1.html' %}
{% include 'bootom_footer.html' %}

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
