{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}
<section class="infrastructure-museum infrastructure-bg">
  <div class="container-xl container-xxl">
    <div class="row  column_infra">
      <div class="col-12 col-md">
        <div
          id="museum-slider"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="{% static 'images/services-images/FCRIcares1.jpg' %}"
                class="d-block w-100"
                alt="fcri-cares"
              />
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-12 col-md col-padding conn_infra">
        <h3
          class="text-green"
          style="color: #2e9f5e; font-weight: 600; letter-spacing: 0"
        >
          FCRI CARES
        </h3>
        <p>
          Forest College and Research Institute - Centre for Agroforestry
          Research and Extension Services (FCRI-CARES) is a society
          established as an independent unit of FCRI in August 2022. This
          would act as a common happening platform for integration of
          science and commerce between farmers, scientists and industries.
        </p>
        <h5>Major focus of FCRI-CARES:</h5>
        <ul>
          <li>
            To promote wider adoption of agroforestry by farmers and
            landowners through effective networking and outreach with all
            stakeholders.
          </li>
          <li>
            We also offer consultancy services to the farmers, public and
            private functionaries involved in tree growing and thereby
            ensuring livelihood security and environmental sustainability.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="contact-section">
  <h1>
      Emerging as a World Class Institution.
  </h1>
  <h2>Forestry Education, Research, Management, and Outreach.</h2>
  <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
</section>
<div class="vision-images">
  <div class="vi">
      <img src="{% static 'images\college-images\visionimage4.webp' %}">
  </div>
  <div class="vi">
      <img src="{% static 'images\college-images\vision-image5.webp' %}">
  </div>
  <div class="vi">
      <img src="{% static 'images\college-images\vision-image7.webp' %}">
  </div>
  <div class="vi">
      <img src="{% static 'images\college-images\vision-image6.webp' %}">
  </div>
</div>
{% include 'footer1.html' %}
  <script src="{% static 'js/main.js' %}"></script>
</body>