{% load static %}
<!Doctype html>
<html>
    <head>
        <title> footer page</title>
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">   
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main1.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive-style.css' %}">
        <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    </head>

    

<body>
<footer class="top-footer dark-green">
    <div class="container-xxl">
        <div class="row">
            <div class="col-lg-5 col-md-10">
                <div class="logo-section pb-3">
                    <ul class="footerTwoSplitLogo list-inline">
                        <li class="footerTwoSplitLogo--img-01"> <a href="#"><img src="{% static 'images/logo-images/forestlogo-01.webp' %}" class="img-fluid" alt="footer-img"></a></li>
                        <li class="footerTwoSplitLogo--img-02"> <a href="#"><img src="{% static 'images/logo-images/header-logo-03-image.webp' %}" class="img-fluid" alt="footer-img"></a></li>
                    </ul>
                    <!--<h5 class="text-dgreen">forest college and research institution</h5>
					<p><small>(Accredited by icfre with a* grade)</small></p>-->
                </div>
                <ul class="email-call ">
                    <li class="nav-item">
                        <a class="nav-link envolope text-cursor" href="#">Email us <br><span class="text-white"><span class="__cf_email__" data-cfemail="403433262332297270727100272d21292c6e232f2d">[email&#160;protected]</span></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link phone-no text-cursor" href="tel:+918454211930">Call us</a><br>
                        <p style="font-size:12px;line-height: 0em;">
                            <a href="#" class="text-white">+91 7702187842. ,</a>
                            <a href="#" class="text-white">+91 7702187845.</a>
                        </p>
                    </li>
                </ul>
                
                <div class="email-subscription mt-lg-4">
    <h5>Subscribe</h5>
    <form id="applicant-form" action="{% url 'home1' %}" method="post">
        {% csrf_token %}
        <div class="input-group rounded-pill">
            {{ form.email }}  
            <button class="input-group-text rounded-pill" type="submit" id="form-submit-newsletter">
                Subscribe
            </button>
        </div>
    </form>
    <div class="result_msg"></div>
</div>
<script>
    document.getElementById("applicant-form").addEventListener("submit", function(event) {
        event.preventDefault();  
        let formData = new FormData(this);
    
        fetch("{% url 'home1' %}", {
            method: "POST",
            body: formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest"
            }
        })
        .then(response => response.json())
        .then(data => {
            let resultDiv = document.querySelector(".result_msg");
            if (data.message) {
                resultDiv.innerHTML = `<p style="color: green;">${data.message}</p>`; 
            } else if (data.error) {
                resultDiv.innerHTML = `<p style="color: red;">${data.error}</p>`; 
            }
        })
        .catch(error => {
            console.error("Error:", error);
            document.querySelector(".result_msg").innerHTML = `<p style="color: red;">Something went wrong. Try again.</p>`;
        });
    });
    </script>
    
            </div>
            <div class="col-lg-7 col-md-12">
              <div class="row">
                  <div class="col-md-4 col-sm-6">
                      <h5>About</h5>
                      <ul class="list-unstyled">
                          <li><a class="nav-link text-cursor" href="{% url 'vision' %}">Vision and Mission</a></li>
                          <li><a class="nav-link text-cursor" href="{% url 'Governing_Board' %}">Governing Board</a></li>
                          <li><a class="nav-link text-cursor" href="{% url 'Governing_Board' %}">Academic Council</a></li>
                          <li><a class="nav-link text-cursor" href="{% url 'Organogram' %}">Organogram</a></li>
                      </ul>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <h5>Admissions</h5>
                      <ul class="list-unstyled">
                          <li><a class="nav-link text-cursor" href="{% url 'admissions1' %}">BSC Hons Forestry</a></li>
                          <li><a class="nav-link text-cursor" href="{% url 'mscforestry' %}">MSC Forestry</a></li>
                          <li><a class="nav-link text-cursor" href="{% url 'Phdforestry' %}">PhD Forestry</a></li>
                          <li><a class="nav-link text-cursor" href="{% static 'doc\8.-UG-regulations-1.pdf' %}" >Admission Process - UG</a></li>
                          <li><a class="nav-link text-cursor" href="{% static 'doc\8.-UG-regulations-1.pdf' %}" >Admission Process - PG</a></li>
                          <li><a class="nav-link text-cursor" href="">FAQ’s</a></li>
                      </ul>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <h5>Academics</h5>
                      <ul class="list-unstyled">
                          <li><a class="nav-link text-cursor" href="{% url 'Departments' %}">List of Departments</a></li>
                          <li><a class="nav-link text-cursor" href="{% url 'DepartmentHead' %}">Faculty</a></li>
                          <li><a class="nav-link text-cursor" href="{% url 'laboratories' %}">Laboratories</a></li>
                          <li><a class="nav-link text-cursor" href="{% static 'doc\8.-UG-regulations-1.pdf' %}">Rules &amp; Regulation - UG</a></li>
                          <li><a class="nav-link text-cursor" href="{% static 'doc\8.-UG-regulations-1.pdf' %}">Rules &amp; Regulation - PG</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          
                            <div class="row">
                    
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>