{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}

<section class="governing-board-page infrastructure-bg" style="padding-bottom: 50px;">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="mt-4 p-lg-5 p-md-4 p-3" 
                  style="background-color:#fbfaea; border-radius: 15px; box-shadow: 0 0 10px #c5c3ac;">
                  
                  <div class="table-responsive">
                      <table class="table table-color table-striped table-bordered">
                          <thead class="bg-light bg-head">
                              <tr>
                                  <th>S.No.</th>
                                  <th>MEMBER</th>
                                  <th>DESIGNATION</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>Principal Secretary/ Secretary, EFS&amp;T</td>
                                  <td>Chairman</td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>PCCF (HoFF)</td>
                                  <td>Member</td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>Dean, Forest College and Research Institute</td>
                                  <td>Member Convener</td>
                              </tr>
                              <tr>
                                  <td>4</td>
                                  <td>Prl. Secretary, Finance Department</td>
                                  <td>Member</td>
                              </tr>
                              <tr>
                                  <td>5</td>
                                  <td>M.D. Telangana State Forest Development Corporation</td>
                                  <td>Member</td>
                              </tr>
                              <tr>
                                  <td>6</td>
                                  <td>M.D, Forest Development Corporation</td>
                                  <td>Member</td>
                              </tr>
                              <tr>
                                  <td>7</td>
                                  <td>Nominee of ICFRE, Dehradun, Uttarakhand</td>
                                  <td>Member</td>
                              </tr>
                              <tr>
                                  <td>8</td>
                                  <td>Nominee of Director General, ICAR, New Delhi</td>
                                  <td>Member</td>
                              </tr>
                              <tr>
                                  <td>9</td>
                                  <td>Vice-chancellor, SKLTSHU</td>
                                  <td>Member</td>
                              </tr>
                              <tr>
                                  <td>10</td>
                                  <td>APCCF/CCF (Research and Training), Telangana Forest Department</td>
                                  <td>Member</td>
                              </tr>
                              <tr>
                                  <td>11 - 14</td>
                                  <td>Four non-official Members (one from forest-based industry, two from NGOs 
                                      working in NRM Sector, and one progressive farmer. Among them, one should be a woman.)</td>
                                  <td>Member</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>  

              </div>
          </div>
      </div>
  </div>
</section>


          

        <section class="contact-section">
            <h1>
                Emerging as a World Class Institution.
            </h1>
            <h2>Forestry Education, Research, Management, and Outreach.</h2>
            <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
        </section>
        <div class="vision-images">
            <div class="vi">
                <img src="{% static 'images\college-images\visionimage4.webp' %}">
            </div>
            <div class="vi">
                <img src="{% static 'images\college-images\vision-image5.webp' %}">
            </div>
            <div class="vi">
                <img src="{% static 'images\college-images\vision-image7.webp' %}">
            </div>
            <div class="vi">
                <img src="{% static 'images\college-images\vision-image6.webp' %}">
            </div>
        </div>
        {% include 'footer1.html' %}
      <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>