{% load static  %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}
<main id="deputyDirMainCollapse">
    <section class="deputyDirPageCollpseASec">
        <div class="container-fluid">
            <div class="deputyDirPageCollpseA__Card">
                <div class="row">
                    <div class="col-lg deputyDirPageCollpseA__CardImg">
                        <img src="{% static 'images/professor-images/joint-director-pic.jpeg' %}" class="img-fluid" alt="Deputy Director">
                    </div>
                    <div class="col-lg deputyDirPageCollpseA__CardContent">
                        <h4>Sri. P. Sreenivasa Rao, IFS </h4>
                        <h5>Joint Director, FCRI</h5>
                        <p><b>Academics and Professional:</b>
                            M.Sc. (Tech) from Osmania University, topper and Gold Medalist. M.Sc. Forestry from FRI, Dehradun (issued for two years training underwent at CASFOS, Dehradun)
                            Obtained various professional degrees/ certificates/ diplomas: (i) PG Diploma in Applications of Remote Sensing from IIRS, Dehradun, (ii) PG Diploma in Software Engineering, (iii) APCIO7 training from IIM, Ahmadabad & MCRHRD, Hyderabad, (iv) Certificate course in WL management at WII, Dehradun, (v) Certificates/ Diplomas in IT courses from various Universities/ Institutes, (vi) Foreign Training of Forestry Personal under Capacity Building in Forestry Sector at Thailand
                            Pursuing Ph.D. from JNTU, Hyderabad on Ecosystem modeling using IT & Geomatics. 
                            Published seven papers in National and International Journals. 
                        </p>
                        <p><b>Experience:</b>
                            Has comprehensive knowledge in Forest, Wildlife & Environmental Acts and Rules as well as guidelines, circulars etc. issued therein.
                            Contributed in obtaining state prestigious forest and wildlife clearances from Government of India.
                            Has professional experience in use of IT&EC, Geomatics over a period of 25 years. 
                            Participated in several Seminars/ Workshops and presented papers too. 
                            Guide/Co-Guide for more than 70 students of B.Tech./ M.Tech./ M.Sc./ MCA for their projects. 
                            Involved in publication of various reports like State Inventory Report, State of Forests Reports, Assessment of Trees Outside notified Forests, Manuals on Inventory, IT & Geomatics etc.
                        </p>
                        <p><b>Awards:</b>
                            Actively involved in securing awards to the department like - <br>
                            Silver Icon for 2004 awarded by GOI for Forest Fire Risk Zonation using IT & Geomatics
                            Golden Icon for 2005 awarded by GOI by GOI for Site Suitability Analysis for WHS using IT & Geomatics
                            e-Governance Award of Appreciation by CSI-Nihilent in 2011 for in the departmental category during 2011 for adoption & successful implementation of ICT in the Department.
                            SKOTCH award in 2016 for development and maintenance of web-enabled modular based Forest Management Information System. 
                        <br>
                            Being himself awarded with AP Uttam Vanasamrakhana Pathakam by Honorable Chief Minister during 2006 for the services rendered by me especially for the awards secured by department, Status analysis of Kolleru WLS, Hussain Sagar Lake and Polavaram Reservoir.
                        </p>
                        <div class="row align-md-center">
                            <div class="col-12 col-md">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>
                                                <span class="__cf_email__" data-cfemail="5f2c2d3a3a3136293e2c2f6d6f6e6c1f38323e3633713c3032">sreenivasp2013@gmail.com</span></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="tel:+919440810176"><i class="fa fa-phone" aria-hidden="true"></i>
                                            +91 9440810176</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



        <section class="contact-section">
            <h1>
                Emerging as a World Class Institution.
            </h1>
            <h2>Forestry Education, Research, Management, and Outreach.</h2>
            <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
        </section>
    </div>
    <div class="vision-images">
        <div class="vi">
            <img src="{% static 'images\college-images\visionimage4.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image5.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image7.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image6.webp' %}">
        </div>
    </div>
    {% include 'footer1.html' %}
    {% include 'bootom_footer.html' %}
       
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
