{% load static  %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}
        <section class="dean-section">
            <!-- Left: Contact Information -->
            <div class="dean-left">
                <img src="{% static 'images\professor-images\joint-director-pic.jpeg' %}" alt="Dr. S. J. Asha" class="profile-image">
            </div>
        
            <!-- Right: Name and Description -->
            <div class="dean-right">
                <h2>Sri. P. Sreenivasa Rao, IFS</h2>
                <h3>Joint Director, FCRI</h3>
                <p>Academics and Professional: M.Sc. (Tech) from Osmania University, topper and Gold Medalist. M.Sc. Forestry from FRI, Dehradun (issued for two years training underwent at CASFOS, Dehradun) Obtained various professional degrees/ certificates/ diplomas: (i) PG Diploma in Applications of Remote Sensing from IIRS, Dehradun, (ii) PG Diploma in Software Engineering, (iii) APCIO7 training from IIM, Ahmadabad & MCRHRD, Hyderabad, (iv) Certificate course in WL management at WII, Dehradun, (v) Certificates/ Diplomas in IT courses from various Universities/ Institutes, (vi) Foreign Training of Forestry Personal under Capacity Building in Forestry Sector at Thailand Pursuing Ph.D. from JNTU, Hyderabad on Ecosystem modeling using IT & Geomatics. Published seven papers in National and International Journals.</p>
                <p>Pursued M.Sc (Anthropology) from Andhra University, Visakhapatnam.</p>
                <p>Pursued Ph.D (Tribal Development and Poverty alleviation Programmes) from Andhra University, Visakhapatnam.</p>
                <p>Joined Forest Department as Assistant Conservator of Forests in 1999. Later promoted to Deputy Conservator, Conservator, and Chief Conservator of Forests.</p>
                <p>Worked as District Forest Officer in Khammam, Guntur, Visakhapatnam, Karimnagar, and Sircilla.</p>
                <p>Worked as Chief Conservator of Forests, Warangal Circle/Zone.</p>
                <p>Initiated "One Gram Panchayat-One Nursery" as Special Commissioner, Haritha Haram.</p>
                <p>Currently serving as Director, TS Forest Academy.</p>
            </div>
        </section>



        <section class="contact-section">
            <h1>
                Emerging as a World Class Institution.
            </h1>
            <h2>Forestry Education, Research, Management, and Outreach.</h2>
            <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
        </section>
    </div>
    <div class="vision-images">
        <div class="vi">
            <img src="{% static 'images\college-images\visionimage4.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image5.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image7.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image6.webp' %}">
        </div>
    </div>
    {% include 'footer1.html' %}
      
       
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
