{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}
  
    <section style="display: flex; padding: 60px;justify-content:center; align-items: flex-start; gap: 20px;">
        <img src="{% static 'images/services-images/MOU-image.jpg' %}" alt="MOU Image" style="max-width: 100%; height: auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        <div>
            <h1 style="font-size: 28px; color: #2c3e50; margin-bottom: 20px; border-bottom: 2px solid #27ae60; padding-bottom: 10px;">Memorandum of Understanding with FCRI</h1>
            <ol style="font-size: 18px; color: #34495e; line-height: 1.6; margin-left: 20px;">
                <li>National Institute of Plant Health Management (NIPHM), Hyderabad.</li>
                <li>Institute of Public Enterprise (IPE), Hyderabad.</li>
                <li>Centre for Cellular & Molecular Biology (CCMB), Hyderabad.</li>
                <li>Central Research Institute for Dryland Agriculture (CRIDA), Hyderabad.</li>
                <li>Institute of Forest Genetics and Tree Breeding (IFGTB), Hyderabad.</li>
            </ol>
        </div>
    </section>
    
    

    <section class="contact-section">
        <h1>
            Emerging as a World Class Institution.
        </h1>
        <h2>Forestry Education, Research, Management, and Outreach.</h2>
        <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
    </section>
    <div class="vision-images">
        <div class="vi">
            <img src="{% static 'images\college-images\visionimage4.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image5.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image7.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image6.webp' %}">
        </div>
    </div>
    {% include 'footer1.html' %}
  <script src="{% static 'js/main.js' %}"></script>
</body>