{% load sekizai_tags cms_tags %}
{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Forest College{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/main1.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <header>
            <div class="top-bar">
                <div class="social-media">
                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <nav class="navbar">
                <div class="logo-section">
                    <img src="{% static 'images\logo-images\forestlogo-01.webp' %}" alt="Logo" class="logo">
                    <h1>Forest College</h1>
                </div>
                <div class="menu-toggle">&#9776;</div>
                <ul class="nav-links">
                    <li class="dropdown">
                        <a href="#">About</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'vision' %}">Vision and Mission</a></li>
                            <li><a href="{% url 'Governing_Board' %}">Governing Board</a></li>
                            <li><a href="{% url  'Governing_Board' %}">Academic Council</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Administration</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'Dean' %}">Dean</a></li>
                            <li><a href="{% url 'Joint_Director' %}">Joint-Director</a></li>
                            <li><a href="{% url 'Deputy_Director' %}">Deputy-Director</a></li>
                            <li><a href="{% url 'Organogram' %}">Organogram</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Academics</a>
                      <ul class="dropdown-menu">
                          <li class="dropdown">
                              <a href="#">Course Structure</a>
                              <ul class="dropdown-menu">
                                  <li><a href="{% static 'doc\16.-Course-Structure-4-UG.pdf' %}">UG</a></li>
                                  <li><a href="{% static 'doc\PG-Course-Structure-2-1.pdf' %}">PG</a></li>
                              </ul>
                          </li>
                          <li class="dropdown">
                              <a href="#">Departments</a>
                              <ul class="dropdown-menu">
                                  <li><a href="{% url 'Departments' %}">List of Department</a></li>
                                  <li><a href="{% url 'Departments' %}">Department Head</a></li>
                                  <li><a href="{% url 'Faculty' %}">Faculty</a></li>
                                  <li><a href="{% url 'laboratory' %}">Laboratory</a></li>
                              </ul>
                          </li>
                          <li class="dropdown">
                              <a href="#">Rules and Regulations</a>
                              <ul class="dropdown-menu">
                                  <li><a href="{% static 'doc\8.-UG-regulations-1.pdf' %}">UG</a></li>
                                  <li><a href="{% static 'doc\Regulations-PG-course.pdf' %}">PG</a></li>
                              </ul>
                          </li>
                          <li class="dropdown">
                              <a href="#">Examinations & Evaluations</a>
                              <ul class="dropdown-menu">
                                  <li><a href="{% static 'doc\Evaluation-of-student-for-UG-and-PG-programs-at-FCRI-2022.pdf' %}">Evaluation of Students for UG & PG</a></li>
                                  <li><a href="{% static 'doc\revaluation-rescrutiny-application.pdf' %}">Revaluation, Rescrutiny & Application</a></li>
                                  <li><a href="{% static 'doc\Thesis-submission-guidelines.pdf' %}">Thesis Submission Guidelines</a></li>
                              </ul>
                          </li>
                          <li class="dropdown">
                              <a href="#">Student Achievements</a>
                              <ul class="dropdown-menu">
                                  <li><a href="{% url 'StudentAchievements' %}">Year of 2016</a></li>
                                  <li><a href="{% url 'StudentAchievements1' %}">Year of 2017</a></li>
                              </ul>
                          </li>
                          <li class="dropdown">
                              <a href="#">Committees</a>
                              <ul class="dropdown-menu">
                                  <li><a href="{% url 'womenprotection' %}">Women Protection Committee</a></li>
                                  <li><a href="{% url 'Antiragging' %}">Anti-ragging Committee</a></li>
                                  <li><a href="{% url 'AdmissionComitte' %}">Admission Committee</a></li>
                                  <li><a href="{% url 'DisciplinaryComitte' %}">Disciplinary Committee</a></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#">Admissions</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown">
                            <a href="#">Courses Offered</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'admissions1' %}">Msc Hons Forestry</a></li>
                                <li><a href="{% url 'admissions1' %}">Msc Forestry</a></li>
                                <li><a href="{% url 'admissions1' %}">Phd</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Admission Process</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% static 'doc\Admission-Process-2022-23-1-UG.pdf' %}">UG</a></li>
                                <li><a href="{% static 'doc\PG-Prospects_2021admission.pdf' %}">PG</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Prospectus</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% static 'PG-Prospects_2021admission.pdf' %}">UG Prospectus</a></li>
                                <li><a href="{% static 'doc\PG-Prospects_2022-23-PG.pdf' %}">PG Prospectus</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% static 'doc\Broucher.pdf' %}">Brochure</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">Fee Payments</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% static 'doc\fee-structure-2023-UG.pdf' %}">Admissin Fee Payments</a></li>
                                <li><a href="{% static 'doc\PG-M.Sc-Forestery-Fee-Structure=PG.pdf' %}">Semister Fee Payments</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Fee Structure</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% static 'doc\fee-structure-2023-UG.pdf' %}">UG Fee Structure</a></li>
                                <li><a href="{% static 'doc\PG-M.Sc-Forestery-Fee-Structure=PG.pdf' %}">PG Fee Structure</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Academic Schedule - 2024</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'AcademicSchedule' %}">UG Academic Schedule</a></li>
                                <li><a href="{% static 'doc\PG-Admission-Schedule-2022 (1)AcademicSchedule.pdf' %}">PG Academic Schedule</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Academic Notification - 2024</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'AcademicNotification' %}">UG Notifications</a></li>
                                <li><a href="{% static 'doc\Admission-Notification-for-PG-2022.pdf' %}">PG Notifications</a></li>
                                <li><a href="{% static 'doc\Ph.D-Admission-Notification-English.pdf' %}">PhD Notifications</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Admin Reports</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">New Selected List</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% static 'doc\selection list1.pdf' %}">B.Sc Hons Selected list</a></li>
                                <li><a href="{% static 'doc\selected list2.pdf' %}">PB.Sc Hons  Selected List2</a></li>
                                <li><a href="#">
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">B.Sc (Hons.) Forest List</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% static 'doc\B.sc hons selected list.pdf' %}">Biology Stream</a></li>
                                <li><a href="{% static 'doc\mathematics stream.pdf' %}">Mathematics Stream</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                

                    
                    <li class="dropdown">
                        <a href="#">Infrastructure</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'Forestmuseum' %}">Forest Museum</a></li>
                            <li><a href="{% url 'Cif' %}">Central Instrumentation Facility</a></li>
                            <li><a href="{% url 'Boardroom' %}">Board Room</a></li>
                            <li><a href="{% url 'Auditorium' %}">Auditorium</a></li>
                            <li><a href="{% url 'Seminarhall' %}">Seminar Hall</a></li>
                            <li><a href="{% url 'Library' %}">Library</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Services</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'Fcri' %}">FCRI Careers</a></li>
                            <li><a href="{% url 'Fcri' %}">FCRI Study Circles</a></li>
                            <li><a href="{% url 'Cfi2' %}">Central Instrumentation Facility CIF</a></li>
                            <li><a href="{% url 'Nursery' %}">Nursery</a></li>
                            <li><a href="{% url 'Workshop' %}">Wood Workshops</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Research</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Research Projects</a></li>
                            <li><a href="#">MoU's</a></li>
                            <li><a href="#">Publications</a></li>
                            <li><a href="#">Awards & Publications</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Media</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Media Gallery</a></li>
                            <li><a href="#">Video Gallery</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <section style="display: flex; padding: 60px;justify-content:center; align-items: flex-start; gap: 20px;">
        <img src="{% static 'images/services-images/MOU-image.jpg' %}" alt="MOU Image" style="max-width: 100%; height: auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        <div>
            <h1 style="font-size: 28px; color: #2c3e50; margin-bottom: 20px; border-bottom: 2px solid #27ae60; padding-bottom: 10px;">Memorandum of Understanding with FCRI</h1>
            <ol style="font-size: 18px; color: #34495e; line-height: 1.6; margin-left: 20px;">
                <li>National Institute of Plant Health Management (NIPHM), Hyderabad.</li>
                <li>Institute of Public Enterprise (IPE), Hyderabad.</li>
                <li>Centre for Cellular & Molecular Biology (CCMB), Hyderabad.</li>
                <li>Central Research Institute for Dryland Agriculture (CRIDA), Hyderabad.</li>
                <li>Institute of Forest Genetics and Tree Breeding (IFGTB), Hyderabad.</li>
            </ol>
        </div>
    </section>
    
    

    <section class="contact-section">
        <h1>
            Emerging as a World Class Institution.
        </h1>
        <h2>Forestry Education, Research, Management, and Outreach.</h2>
        <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
    </section>
    <div class="vision-images">
        <div class="vi">
            <img src="{% static 'images\college-images\visionimage4.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image5.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image7.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image6.webp' %}">
        </div>
    </div>
    <footer class="footer">
        <div class="footer-container">
          <!-- Footer Top Section -->
          <div class="footer-top">
            <div class="footer-column">
              <img src="{% static 'images/logo-images/forestlogo-01.webp' %}" class="footer-img" alt="Forest Logo">
              <p><strong>Email us:</strong> <a href="mailto:tsfcri2021@gmail.com">tsfcri2021@gmail.com</a></p>
              <p><strong>Call us:</strong> <a href="tel:+918454211930">+91 8454211930</a>, <a href="tel:+918454211939">+91 8454211939</a></p>
            </div>
            <div class="footer-column">
              <h3>Subscribe</h3>
              <form action="#" class="subscribe-form">
                <input type="email" placeholder="Enter your email address" class="subscribe-input" required>
                <button type="submit" class="subscribe-button">Subscribe</button>
              </form>
            </div>
            <div class="footer-column">
              <h3>About</h3>
              <ul>
                <li><a href="#">Vision and Mission</a></li>
                <li><a href="#">Governing Board</a></li>
                <li><a href="#">Academic Council</a></li>
                <li><a href="#">Organogram</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Admissions</h3>
              <ul>
                <li><a href="#">BSc Hons Forestry</a></li>
                <li><a href="#">MSc Forestry</a></li>
                <li><a href="#">PhD Forestry</a></li>
                <li><a href="#">Admission Process - UG</a></li>
                <li><a href="#">Admission Process - PG</a></li>
                <li><a href="#">FAQ’s</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Academics</h3>
              <ul>
                <li><a href="#">List of Departments</a></li>
                <li><a href="#">Faculty</a></li>
                <li><a href="#">Laboratories</a></li>
                <li><a href="#">Rules & Regulation - UG</a></li>
                <li><a href="#">Rules & Regulation - PG</a></li>
              </ul>
            </div>
          </div>
      
          <!-- Footer Bottom Section -->
          <div class="footer-bottom">
            <p>© 2022 FCRI - All Rights Reserved.</p>
      
            <!-- Social Media Links at the Bottom -->
            <div class="top-bar1">
              <div class="social-media1">
                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      
       
  <script src="{% static 'js/main.js' %}"></script>
</body>