{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}
      

    <div class="Organogram">
      <img src="{% static 'images\professor-images\FCRI_organogram-1-image.png' %}">
          

 

        <section class="contact-section">
            <h1>
                Emerging as a World Class Institution.
            </h1>
            <h2>Forestry Education, Research, Management, and Outreach.</h2>
            <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
        </section>
    </div>
    <div class="vision-images">
        <div class="vi">
            <img src="{% static 'images\college-images\visionimage4.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image5.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image7.webp' %}">
        </div>
        <div class="vi">
            <img src="{% static 'images\college-images\vision-image6.webp' %}">
        </div>
    </div>
    {% include 'footer1.html' %}
      
       
  <script src="{% static 'js/main.js' %}"></script>
</body>