{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}
<section
class="governing-board-page"
style="padding-top: 20px; padding-bottom: 30px"
>
<div class="container-xl container-xxl">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h6 class="text-green bold-text fw-600 font-21">
            The Completed/ongoing research projects at FCRI :
          </h6>
          <div
            class="mt-4 p-3 p-sm-4 p-xl-5"
            style="
              background-color: #fbfaea;
              border-radius: 15px;
              box-shadow: 0 0 10px #c5c3ac;
            "
          >
            <div class="table-responsive">
              <table
                class="table table-color table-striped table-bordered"
              >
                <thead class="bg-light bg-head">
                  <tr>
                    <th style="text-align: center">S.No.</th>
                    <th style="text-align: center">Faculty Name</th>
                    <th style="text-align: center">
                      Sponsoring Agency
                    </th>
                    <th style="text-align: center">Project</th>
                    <th style="text-align: center">
                      Duration (years)
                    </th>
                    <th style="text-align: center">
                      Amount (Rs. In Lakhs)
                    </th>
                  </tr>
                </thead>
                <tbody style="background-color: #e0f1e799">
                  <tr>
                    <td>1</td>
                    <td style="text-align: center">
                      Mrs. Sailaja.V <br />
                      Assistant Professor <br />
                      (Entomology),<br />Natural Resource Management
                      and Conservation
                    </td>
                    <td>
                      National Medicinal Plants Board, Govt. of
                      India
                    </td>
                    <td>
                      Establishment of Institutional Herbal Garden
                      with Medicinal and Aromatic Plants at TSFCRI
                      Campus
                    </td>
                    <td style="text-align: center">
                      28-09-2019 <br />to<br />
                      27-09-2024
                    </td>
                    <td style="text-align: center">5.40</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td style="text-align: center">
                      Mrs. Sailaja.V <br />
                      Assistant Professor <br />
                      (Entomology), <br />Natural Resource
                      Management and Conservation
                    </td>
                    <td>
                      National Medicinal Plants Board, Govt. of
                      India
                    </td>
                    <td>
                      Establishment of Model Nursery at TSFCRI
                      campus
                    </td>
                    <td style="text-align: center">
                      28-09-2019 <br />to<br />
                      27-09-2020
                    </td>
                    <td style="text-align: center">6.25</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td style="text-align: center">
                      Dr. Chiranjeeva Reddy <br />
                      Assistant Professor <br />
                      (Silviculture) <br />
                      and <br />
                      Dr. Kapil Sihag <br />
                      Assistant Professor <br />
                      (Wood science &#038; technology)
                    </td>
                    <td>
                      International Union of Forestry Research
                      Organizations (IUFRO)
                    </td>
                    <td>
                      Influence of demographic change and
                      institutional mechanisms on Land cover change,
                      climate adaptability and food security in
                      rural India.
                    </td>
                    <td style="text-align: center">
                      05/2019 <br />to<br />
                      07/2019
                    </td>
                    <td style="text-align: center">4.18</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td style="text-align: center">
                      Dr. Chiranjeeva Reddy <br />
                      Assistant Professor <br />
                      (Silviculture) <br />
                      Co-PI
                    </td>
                    <td>
                      Indian Council of Forestry Research and
                      Education (ICFRE)
                    </td>
                    <td>
                      Tamarind (Tamarindus indica Linn.)
                      domestication, conservation and deployment of
                      genetic resources for sustenance and
                      livelihood amelioration
                    </td>
                    <td style="text-align: center">5</td>
                    <td style="text-align: center">10.91</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td style="text-align: center">
                      Dr. Chiranjeeva Reddy <br />
                      Assistant Professor <br />
                      (Silviculture) <br />
                      Co-PI
                    </td>
                    <td>
                      Indian Council of Forestry Research and
                      Education (ICFRE)
                    </td>
                    <td>
                      Development of package of practices on Gmelina
                      arborea Roxb. (Khamer or Gamhar) in selected
                      regions of India
                    </td>
                    <td style="text-align: center">5</td>
                    <td style="text-align: center">30.40</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td style="text-align: center">
                      Mr. B. Jagadeesh <br />
                      Assistant Professor
                    </td>
                    <td>Biodiversity Society of Telangana</td>
                    <td>
                      Assessment of the success of Yadadri Natural
                      Forest Restoration Model (YNFRM)
                    </td>
                    <td style="text-align: center">
                      Feb 2020 &#8211; Oct 2021
                    </td>
                    <td style="text-align: center">18.70</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td style="text-align: center">
                      Mrs. Sailaja.V <br />
                      Assistant Professor <br />
                      (Entomology)
                    </td>
                    <td>Biodiversity Society of Telangana</td>
                    <td>
                      Selection and screening of mosquito repellent
                      plant diversity for propagation with special
                      reference to KBR National Park
                    </td>
                    <td style="text-align: center">
                      Feb 2020 &#8211; Oct 2021
                    </td>
                    <td style="text-align: center">20.00</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td style="text-align: center">
                      Dr. Reeja Sundaram<br />
                      Assistant Professor
                    </td>
                    <td>Biodiversity Society of Telangana</td>
                    <td>
                      Conservation strategies of Givotia
                      molucanna(Poniki Tree) in its natural habitat
                    </td>
                    <td style="text-align: center">
                      Feb 2020 &#8211; Nov 2022
                    </td>
                    <td style="text-align: center">12.40</td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td style="text-align: center">
                      Mrs. N. S. Srinidhi
                    </td>
                    <td>Biodiversity Society of Telangana</td>
                    <td>
                      Mapping of NTFP tree species of Bhadrachalam
                      Division, Telangana
                    </td>
                    <td style="text-align: center">
                      Feb 2020 &#8211; Oct 2021
                    </td>
                    <td style="text-align: center">16.40</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td style="text-align: center">
                      Ms. P. Nikitha
                    </td>
                    <td>Biodiversity Society of Telangana</td>
                    <td>
                      Evaluation of major road-side multi-rows and
                      single-row plantations to ascertain the most
                      appropriate individual species of species
                      combinations in various plantation programmes
                      under Haritha Haram programme
                    </td>
                    <td style="text-align: center">
                      Feb 2020 &#8211; Nov 2021
                    </td>
                    <td style="text-align: center">15.40</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td style="text-align: center">
                      Dr. Priya Rajendra <br />Assistant Professor
                      <br />
                      (Forest Ecology)
                    </td>
                    <td>Biodiversity Society of Telangana</td>
                    <td>
                      Assessment of Grass diversity of Kawal Tiger
                      Reserve and their preference by different
                      wildlife
                    </td>
                    <td style="text-align: center">
                      Feb 2020 &#8211; Nov 2021
                    </td>
                    <td style="text-align: center">14.32</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td style="text-align: center">
                      Dr. Kapil Sihag <br />Assistant Professor
                      <br />
                      (Wood science &#038; technology)
                    </td>
                    <td>Biodiversity Society of Telangana</td>
                    <td>
                      Identification tool kit for timber species of
                      Telangana
                    </td>
                    <td style="text-align: center">
                      Feb 2020 &#8211; Oct 2021
                    </td>
                    <td style="text-align: center">27.82</td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td style="text-align: center">
                      Dr. Chiranjeeva Reddy <br />Assistant
                      Professor <br />
                      (Silviculture)
                    </td>
                    <td>Biodiversity Society of Telangana</td>
                    <td>
                      Documentation of Grass Species of Telangana
                      State and establishment of ex-situ
                      conservation cum seed stand of palatable grass
                      species
                    </td>
                    <td style="text-align: center">
                      Feb 2020 &#8211; Nov 2021
                    </td>
                    <td style="text-align: center">18.80</td>
                  </tr>
                  <tr>
                    <td>14</td>
                    <td style="text-align: center">
                      Dr. Chiranjeeva Reddy <br />Assistant
                      Professor <br />
                      (Silviculture)
                    </td>
                    <td>Biodiversity Society of Telangana</td>
                    <td>
                      Establishment of ex-situ conservation plot
                      (Germplasm bank) of wild edible fruit plants
                      of Telangana
                    </td>
                    <td style="text-align: center">
                      Feb 2020 &#8211; Nov 2021
                    </td>
                    <td style="text-align: center">18.80</td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td style="text-align: center">
                      Mr. B. Jagadeesh <br />Assistant Professor
                    </td>
                    <td>Biodiversity Society of Telangana</td>
                    <td>
                      Influence of Biofertilizers on Planting Stock
                      of Important Indigenous Tree Species in the
                      Nurseries of Telangana
                    </td>
                    <td style="text-align: center">
                      Feb 2020 &#8211; Oct 2021
                    </td>
                    <td style="text-align: center">15.72</td>
                  </tr>
                  <tr>
                    <td>16</td>
                    <td style="text-align: center">
                      Dr. Shalini Mudalkar <br />Assistant Professor
                      <br />
                      (Tissue culture)
                    </td>
                    <td>Biodiversity Society of Telangana</td>
                    <td>
                      Protocol Standardization for Micropropagation
                      of Bambusa tulda and Bamboosa balcooa
                    </td>
                    <td style="text-align: center">
                      Feb 2020 &#8211; Jan 2022
                    </td>
                    <td style="text-align: center">19.92</td>
                  </tr>
                  <tr>
                    <td>17</td>
                    <td style="text-align: center">
                      Dr. B. Sreedhar <br />Associate Professor
                    </td>
                    <td>Biodiversity Society of Telangana</td>
                    <td>
                      Carbon sequestration potential of forest tree
                      species of Medak
                    </td>
                    <td style="text-align: center">
                      Feb 2020 &#8211; Oct 2021
                    </td>
                    <td style="text-align: center">21.75</td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td style="text-align: center">
                      Dr. Reeja Sundaram
                    </td>
                    <td>
                      Telangana State Forest Development Corporation
                    </td>
                    <td>
                      Evaluation of growth behavior and productivity
                      of Bambusa tulda at different planting
                      densities under enriched soil
                      micro-environment in Siddipet and Sathupally
                      and also scope of market potential
                    </td>
                    <td style="text-align: center">
                      Aug 2021- July 2025 <br />
                      4 years
                    </td>
                    <td style="text-align: center">3.90</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td style="text-align: center">
                      Dr. Kapil Sihag
                    </td>
                    <td>
                      Telangana State Forest Development Corporation
                    </td>
                    <td>
                      Production economy of Eucalyptus plantations
                      under TSFDC and market trends
                    </td>
                    <td style="text-align: center">
                      Aug 2021- July 2023<br />
                      2 years
                    </td>
                    <td style="text-align: center">5.00</td>
                  </tr>
                  <tr>
                    <td>20</td>
                    <td style="text-align: center">
                      Dr. Shalini Mudalkar
                    </td>
                    <td>
                      Telangana State Forest Development Corporation
                    </td>
                    <td>
                      Micropropagation of Artocarpus heterophyllus L
                      (Panasa) and Rosewood through in vitro
                      regeneration and multiplication
                    </td>
                    <td style="text-align: center">
                      Aug 2021 &#8211; July 2023 <br />
                      2 years
                    </td>
                    <td style="text-align: center">6.80</td>
                  </tr>
                  <tr>
                    <td>21</td>
                    <td style="text-align: center">
                      Dr. Sreedhar Bodiga <br />
                      &#038; Dr. Kapil Sihag
                    </td>
                    <td>
                      Telangana State Forest Development Corporation
                    </td>
                    <td>
                      Protocol for quality testing of sandalwood and
                      market potential for seed, oil, wood
                    </td>
                    <td style="text-align: center">
                      1 year <br />
                      (Aug 2021 &#8211; July 2022)
                    </td>
                    <td style="text-align: center">4.30</td>
                  </tr>
                  <tr>
                    <td>22</td>
                    <td style="text-align: center">
                      Dr. Sreedhar Bodiga <br />&#038; Dr.
                      Chiranjeeva Reddy Milkuri
                    </td>
                    <td>
                      Telangana State Forest Development Corporation
                    </td>
                    <td>
                      Evaluation fo TSFDC plantations in the
                      erstwhile Khammam District (Kothagudem,
                      Paloncha and Sathupally Divisions) for total
                      carbon stock and carbon footprint
                    </td>
                    <td style="text-align: center">
                      6 months <br />
                      (Aug 2021 &#8211; Jan 2022)
                    </td>
                    <td style="text-align: center">4.00</td>
                  </tr>
                  <tr>
                    <td>23</td>
                    <td style="text-align: center">
                      Smt.V. Sailaja and <br />Dr. Reeja Sundaram
                    </td>
                    <td>MoEF&#038;CC</td>
                    <td>
                      Annual Plan of Operation (APOs) Under
                      Centrally Sponsored Scheme -Integrated
                      Development of Wildlife Habitats in Protected
                      areas for conservation of Asiatic Wild Dog
                      (Cuon alpinus) in Telangana State under the
                      component of Protected Area during 2020-21
                    </td>
                    <td style="text-align: center">30-01-2021</td>
                    <td style="text-align: center">29.778</td>
                  </tr>
                  <tr>
                    <td>24</td>
                    <td style="text-align: center">
                      Ms. P. Nikitha <br />Mr. B Jagadeesh
                    </td>
                    <td>Greater Hyderabad Municipal Corporation</td>
                    <td>
                      Quality check of the green works executed by
                      the urban biodiversity wing of Greater
                      Hyderabad Municipal Corporation
                    </td>
                    <td style="text-align: center">
                      01-03-2020 <br />to<br />
                      28-02-2021
                    </td>
                    <td style="text-align: center">
                      1.70% of the item of the bills
                    </td>
                  </tr>
                  <tr>
                    <td>25</td>
                    <td style="text-align: center">
                      Ms. P. Nikitha <br />(project coordinator)
                    </td>
                    <td>
                      Dept of Tribal Welfare, Govt. of Telangana
                    </td>
                    <td>
                      Training of MFP gatherers of GCC Societies and
                      providing them equipment kits for scientific
                      gathering of MFP
                    </td>
                    <td style="text-align: center">
                      05-Nov-2020 <br />to<br />
                      31-Sept-2021
                    </td>
                    <td style="text-align: center">242.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
</div>
       
    <section class="contact-section">
      <h1>
          Emerging as a World Class Institution.
      </h1>
      <h2>Forestry Education, Research, Management, and Outreach.</h2>
      <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
  </section>
  <div class="vision-images">
      <div class="vi">
          <img src="{% static 'images\college-images\visionimage4.webp' %}">
      </div>
      <div class="vi">
          <img src="{% static 'images\college-images\vision-image5.webp' %}">
      </div>
      <div class="vi">
          <img src="{% static 'images\college-images\vision-image7.webp' %}">
      </div>
      <div class="vi">
          <img src="{% static 'images\college-images\vision-image6.webp' %}">
      </div>
  </div>
 {% include 'footer1.html' %}
    
 
  <script src="{% static 'js/main.js' %}"></script>
</body>