{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %} 


<section class="stdClub sportsClubSection" style="padding-bottom: 30px">
    <div class="container-xl container-xxl">
      <div class="row">
        <p style="line-height: 30px">
          The department of Physical Education & sports is established in FCRI
          right from the beginning of the institution 2016. It is consisting
          adequate facilities for Games and Sports in 15.00 acres of land in
          the campus. We have vide scope with 52 acres of land for the
          development of sports such as Indoor Shuttle Badminton, Basketball
          cement Court, Tennis Courts and Open Gym etc. The play fields
          Football, Cricket, Volleyball, Throwball, Handball, Kabaddi,
          Kho-Kho, Tennikoit, Shuttle Badminton, Ball Badminton, 200 meters
          track along with 400 meters Walking Track is available for regular
          practice. Indoor Games like Table Tennis, Carroms, Chess and
          well-equipped Gymnasium for men and Fitness items for women are also
          available. Our college runs under Residential mode and we award
          credits for their participation in physical training as part of our
          curriculum. The Department runs its activities throughout the year
          with a Motto “Walk for health Jog for Fitness and Run for
          Competition”.
        </p>
        <a
          href="{% static 'doc/doc5/Sports_at_FCRI.pdf' %}"
          class="conlink"
          target="_blank"
          rel="noopener"
          ><button
            type=""
            class="btn px-md-4"
            style="color: #fff; background-color: #000"
          >
            Click for more information
          </button></a
        >
        <br /><br />
        <div class="accordion" id="accordion1">
          <div class="accordion-item">
            <h2 class="accordion-header" id="colheading1">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsecol1"
                aria-expanded="true"
                aria-controls="collapsecol1"
              >
                <h5 class="text-white">Initial Status</h5>
              </button>
            </h2>
            <div
              id="collapsecol1"
              class="accordion-collapse collapse show"
              aria-labelledby="colheading1"
              data-bs-parent="#accordion1"
            >
              <div class="accordion-body">
                <div
                  class="mt-4 p-3 p-sm-4 p-xl-5"
                  style="
                    background-color: #fbfaea;
                    border-radius: 15px;
                    box-shadow: 0 0 10px #c5c3ac;
                  "
                >
                  <div class="table-responsive">
                    <table
                      class="table table-color table-striped table-bordered"
                    >
                      <tbody>
                        <tr>
                          <td>a.</td>
                          <td>Physical Director</td>
                          <td>Dr. K. Prabhu</td>
                        </tr>
                        <tr>
                          <td>b.</td>
                          <td>Physical Instructor</td>
                          <td>Sri. A. Naresh</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="colheading2">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsecol2"
                aria-expanded="false"
                aria-controls="collapsecol2"
              >
                <h5 class="text-white">Structure of the department</h5>
              </button>
            </h2>
            <div
              id="collapsecol2"
              class="accordion-collapse collapse"
              aria-labelledby="colheading2"
              data-bs-parent="#accordion1"
            >
              <div class="accordion-body">
                <div
                  class="mt-4 p-3 p-sm-4 p-xl-5"
                  style="
                    background-color: #fbfaea;
                    border-radius: 15px;
                    box-shadow: 0 0 10px #c5c3ac;
                  "
                >
                  <div class="table-responsive">
                    <table
                      class="table table-color table-striped table-bordered"
                    >
                      <tbody>
                        <tr>
                          <td>a.</td>
                          <td>Total No of Rooms Allotted</td>
                          <td>Four</td>
                        </tr>
                        <tr>
                          <td>b.</td>
                          <td>Department Office</td>
                          <td>One</td>
                        </tr>
                        <tr>
                          <td>c.</td>
                          <td>Indoor Games & Stores</td>
                          <td>One</td>
                        </tr>
                        <tr>
                          <td>d.</td>
                          <td>Gym - Boys Hostel</td>
                          <td>One</td>
                        </tr>
                        <tr>
                          <td>e.</td>
                          <td>Fitness center – Girls Hostel</td>
                          <td>One</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="colheading3">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsecol3"
                aria-expanded="false"
                aria-controls="collapsecol3"
              >
                <h5 class="text-white">Details of Teaching Staff</h5>
              </button>
            </h2>
            <div
              id="collapsecol3"
              class="accordion-collapse collapse"
              aria-labelledby="colheading3"
              data-bs-parent="#accordion1"
            >
              <div class="accordion-body">
                <div
                  class="mt-4 p-3 p-sm-4 p-xl-5"
                  style="
                    background-color: #fbfaea;
                    border-radius: 15px;
                    box-shadow: 0 0 10px #c5c3ac;
                  "
                >
                  <div class="table-responsive">
                    <table
                      class="table table-color table-striped table-bordered"
                    >
                      <thead class="bg-light bg-head">
                        <tr>
                          <th width="20%">Name</th>
                          <th>Qualification</th>
                          <th>Designation</th>
                          <th>Experience</th>
                          <th>Specialization</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Dr. K. Prabhu</td>
                          <td>
                            M.A., M.P. Ed, M.Phil, NIS (cert), SLET, Ph.D.
                          </td>
                          <td>Physical Director/Sports officer</td>
                          <td>34 Years</td>
                          <td>Kabaddi & Yoga</td>
                        </tr>
                        <tr>
                          <td>Sri. A. Naresh</td>
                          <td>B.Sc., B.P. Ed</td>
                          <td>Physical Instructor/Sports coach</td>
                          <td>2 Years</td>
                          <td>Volley ball & Ball Badminton</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="text-dgreen Titillium Web" style="padding-bottom: 8px">
            Regular Activities :
          </h3>
          <h4 class="text-dgreen Titillium Web" style="padding-bottom: 8px">
            Physical Training : Daily Time Table
          </h4>
          <div class="accordion-item">
            <h2 class="accordion-header" id="colheading4">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsecol4"
                aria-expanded="false"
                aria-controls="collapsecol4"
              >
                <h5 class="text-white">Morning Session</h5>
              </button>
            </h2>
            <div
              id="collapsecol4"
              class="accordion-collapse collapse"
              aria-labelledby="colheading4"
              data-bs-parent="#accordion1"
            >
              <div class="accordion-body">
                <div
                  class="mt-4 p-3 p-sm-4 p-xl-5"
                  style="
                    background-color: #fbfaea;
                    border-radius: 15px;
                    box-shadow: 0 0 10px #c5c3ac;
                  "
                >
                  <div class="table-responsive">
                    <table
                      class="table table-color table-striped table-bordered"
                    >
                      <thead class="bg-light bg-head">
                        <tr>
                          <th>Time</th>
                          <th style="text-align: center">Activities</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>6.00 AM</td>
                          <td style="text-align: center">
                            Assembly & Attendance
                          </td>
                        </tr>
                        <tr>
                          <td rowspan="6">6.10 AM</td>
                          <td style="text-align: center">
                            Physical Training
                          </td>
                        </tr>
                        <tr>
                          <td>- Walking</td>
                        </tr>
                        <tr>
                          <td>- Jogging</td>
                        </tr>
                        <tr>
                          <td>- Running</td>
                        </tr>
                        <tr>
                          <td>- Sprint</td>
                        </tr>
                        <tr>
                          <td>- Warming up</td>
                        </tr>
                        <tr>
                          <td rowspan="2">6.40 AM</td>
                          <td style="text-align: center">- Drill/Marching</td>
                        </tr>
                        <tr>
                          <td>- Yoga/Callisthenic Exercise</td>
                        </tr>
                        <tr>
                          <td>7.00 AM</td>
                          <td style="text-align: center">
                            - Assembly & Disperse
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="colheading5">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsecol5"
                aria-expanded="false"
                aria-controls="collapsecol5"
              >
                <h5 class="text-white">Evening session</h5>
              </button>
            </h2>
            <div
              id="collapsecol5"
              class="accordion-collapse collapse"
              aria-labelledby="colheading5"
              data-bs-parent="#accordion1"
            >
              <div class="accordion-body">
                <div
                  class="mt-4 p-3 p-sm-4 p-xl-5"
                  style="
                    background-color: #fbfaea;
                    border-radius: 15px;
                    box-shadow: 0 0 10px #c5c3ac;
                  "
                >
                  <div class="table-responsive">
                    <table
                      class="table table-color table-striped table-bordered"
                    >
                      <thead class="bg-light bg-head">
                        <tr>
                          <th>Time</th>
                          <th style="text-align: center">Activities</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>5.15 PM</td>
                          <td style="text-align: center">
                            Assembly & Attendance
                          </td>
                        </tr>
                        <tr>
                          <td rowspan="5">5.30 PM</td>
                          <td style="text-align: center">Games & Sports</td>
                        </tr>
                        <tr>
                          <td>- Practice</td>
                        </tr>
                        <tr>
                          <td>- coaching</td>
                        </tr>
                        <tr>
                          <td>- Intramurals</td>
                        </tr>
                        <tr>
                          <td>- Recreation</td>
                        </tr>
                        <tr>
                          <td rowspan="2">6.15 PM</td>
                          <td style="text-align: center">
                            - Special coaching
                          </td>
                        </tr>
                        <tr>
                          <td>- Preparation for external competitions</td>
                        </tr>
                        <tr>
                          <td>6.45 PM</td>
                          <td style="text-align: center">
                            - Assembly & Disperse
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h4 class="text-dgreen Titillium Web" style="padding-bottom: 8px">
            Physical Training :
          </h4>
          <div class="accordion-item">
            <h2 class="accordion-header" id="colheading6">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsecol6"
                aria-expanded="false"
                aria-controls="collapsecol6"
              >
                <h5 class="text-white">Weekly - Schedule</h5>
              </button>
            </h2>
            <div
              id="collapsecol6"
              class="accordion-collapse collapse"
              aria-labelledby="colheading6"
              data-bs-parent="#accordion1"
            >
              <div class="accordion-body">
                <div
                  class="mt-4 p-3 p-sm-4 p-xl-5"
                  style="
                    background-color: #fbfaea;
                    border-radius: 15px;
                    box-shadow: 0 0 10px #c5c3ac;
                  "
                >
                  <div class="table-responsive">
                    <table
                      class="table table-color table-striped table-bordered"
                    >
                      <thead class="bg-light bg-head">
                        <tr>
                          <th>SL. No.</th>
                          <th>Day</th>
                          <th>Morning Session</th>
                          <th>Evening Session</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1.</td>
                          <td>Monday</td>
                          <td>General PT</td>
                          <td>Regular Games Coaching</td>
                        </tr>
                        <tr>
                          <td>2.</td>
                          <td>Tuesday</td>
                          <td>Mass Drill/Yoga</td>
                          <td>Students practice sessions and guidance</td>
                        </tr>
                        <tr>
                          <td>3.</td>
                          <td>Wednesday</td>
                          <td>General PT</td>
                          <td>Indore Games /Optional Games Practice</td>
                        </tr>
                        <tr>
                          <td>4.</td>
                          <td>Thursday</td>
                          <td>Marching/Calisthenics</td>
                          <td>Gym and Fitness training sessions</td>
                        </tr>
                        <tr>
                          <td>5.</td>
                          <td>Friday</td>
                          <td>Cross Country/Strength Building</td>
                          <td>Recreation / Friendly Matches</td>
                        </tr>
                        <tr>
                          <td>6.</td>
                          <td>Saturday</td>
                          <td>Issue of Games Materials</td>
                          <td>Grounds preparations Maintenance</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    .plublications {
      background-image: linear-gradient(to top, #dbd9b6 0%, #ffffff 100%);
      padding: 20px 0;
    }

    .ul-padding li {
      padding-bottom: 10px;
    }

    .accordion-item {
      border-radius: 8px;
      padding: 2px;
      background-color: #8d7b57;
      border: 1px solid #fbfaead9;
      margin-bottom: 10px;
    }

    .accordion-button {
      background-color: #8d7b57;
    }

    .text-white {
      color: #fff;
    }

    .accordion-body {
      color: #f8f3da;
    }

    .accordion-button:focus {
      border-color: #8d7b57 !important;
      box-shadow: 0 0 0 0.25rem rgb(135 115 95) !important;
    }

    .accordion-button {
      background-color: #8d7b57;
    }

    .accordion-button:not(.collapsed) {
      box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%) !important;
      background-color: #8d7b57 !important;
    }

    .accordion-button::after {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    }

    .accordion-button {
      border-top-left-radius: calc(0.25rem - 1px);
      border-top-right-radius: calc(0.25rem - 1px);
      border-bottom-left-radius: calc(0.25rem - 1px);
      border-bottom-right-radius: calc(0.25rem - 1px);
    }
  </style>







<section class="contact-section">
    <h1>
        Emerging as a World Class Institution.
    </h1>
    <h2>Forestry Education, Research, Management, and Outreach.</h2>
    <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
</section>
<div class="vision-images">
    <div class="vi">
        <img src="{% static 'images\college-images\visionimage4.webp' %}">
    </div>
    <div class="vi">
        <img src="{% static 'images\college-images\vision-image5.webp' %}">
    </div>
    <div class="vi">
        <img src="{% static 'images\college-images\vision-image7.webp' %}">
    </div>
    <div class="vi">
        <img src="{% static 'images\college-images\vision-image6.webp' %}">
    </div>
</div>
{% include 'footer1.html' %}
{% include 'bootom_footer.html' %}
<script src="{% static 'js/main.js' %}"></script>
</body>