{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}
<section class="stdClub" style="padding-bottom: 30px">
  <div class="container-xl container-xxl">
    <div class="row">
      <h3 class="text-dgreen Titillium Web" style="padding-bottom: 8px">
        Achievements of Students of 2nd Batch B.Sc. (Hons.) Forestry -2021
      </h3>
      <div class="accordion" id="accordion1">
        <div class="accordion-item">
          <h2 class="accordion-header" id="colheading1">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsecol1"
              aria-expanded="true"
              aria-controls="collapsecol1"
            >
              <h5 class="text-white">1. Kasarla Raju</h5>
            </button>
          </h2>
          <div
            id="collapsecol1"
            class="accordion-collapse collapse show"
            aria-labelledby="colheading1"
            data-bs-parent="#accordion1"
          >
            <div class="accordion-body">
              <p>
                Qualified for UPSC Civils Services Preliminary & Mains
                Examination-2021 for both IAS and IFS in his first attempt.
                He is now waiting for interview call.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="colheading2">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsecol2"
              aria-expanded="false"
              aria-controls="collapsecol2"
            >
              <h5 class="text-white">2. Boda Vijendar</h5>
            </button>
          </h2>
          <div
            id="collapsecol2"
            class="accordion-collapse collapse"
            aria-labelledby="colheading2"
            data-bs-parent="#accordion1"
          >
            <div class="accordion-body">
              <p>
                Appeared for CAPF-ACS 2021 examination and cleared prelims
                and mains. He also cleared his medical and physical test
                conducted at New Delhi. He is now waiting for interview
                call.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="colheading3">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsecol3"
              aria-expanded="false"
              aria-controls="collapsecol3"
            >
              <h5 class="text-white">3. Yalal Mallesh</h5>
            </button>
          </h2>
          <div
            id="collapsecol3"
            class="accordion-collapse collapse"
            aria-labelledby="colheading3"
            data-bs-parent="#accordion1"
          >
            <div class="accordion-body">
              <p>
                Secured All India First Rank in PG Common Entrance
                examination-2021 conducted by Maharashtra Council Of
                Agriculture Education And Research.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="colheading4">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsecol4"
              aria-expanded="false"
              aria-controls="collapsecol4"
            >
              <h5 class="text-white">4. Dontha Preethi Chandana</h5>
            </button>
          </h2>
          <div
            id="collapsecol4"
            class="accordion-collapse collapse"
            aria-labelledby="colheading4"
            data-bs-parent="#accordion1"
          >
            <div class="accordion-body">
              <p>
                Appeared for Telangana State Integrated Common Entrance test
                (TSICET) -2021 for MBA and secured 199th rank.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="colheading5">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsecol5"
              aria-expanded="false"
              aria-controls="collapsecol5"
            >
              <h5 class="text-white">
                Forest Research Institute, Dehradun National Entrance
                Examination - 2021
              </h5>
            </button>
          </h2>
          <div
            id="collapsecol5"
            class="accordion-collapse collapse"
            aria-labelledby="colheading5"
            data-bs-parent="#accordion1"
          >
            <div class="accordion-body">
              <div
                class="mt-4 p-3 p-sm-4"
                style="
                  background-color: #fbfaea;
                  border-radius: 15px;
                  box-shadow: 0 0 10px #c5c3ac;
                "
              >
                <div class="table-responsive">
                  <table
                    class="table table-color table-striped table-bordered"
                  >
                    <thead class="bg-light bg-head">
                      <tr>
                        <th>S.No.</th>
                        <th>NAME</th>
                        <th>ADMISSION</th>
                        <th>ALL INDIA RANK</th>
                        <th>UNIVERSITY</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>NAKKA VARUN</td>
                        <td>
                          MASTER OF SCIENCE IN WOOD SCIENCE AND TECHNOLOGY
                        </td>
                        <td>AIR 7th (OBC- CATEGORY)</td>
                        <td>
                          FOREST RESEARCH INSTITUTE, DEHRADUN (DEEMED TO BE
                          UNIVERSITY)
                        </td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>AKKALA DIVYA</td>
                        <td>
                          MASTER OF SCIENCE IN WOOD SCIENCE AND TECHNOLOGY
                        </td>
                        <td>AIR 10th (OBC- CATEGORY)</td>
                        <td>
                          FOREST RESEARCH INSTITUTE, DEHRADUN (DEEMED TO BE
                          UNIVERSITY)
                        </td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>SAAVYA TANNERU</td>
                        <td>
                          MASTER OF SCIENCE IN WOOD SCIENCE AND TECHNOLOGY
                        </td>
                        <td>AIR 17th (OBC- CATEGORY)</td>
                        <td>
                          FOREST RESEARCH INSTITUTE, DEHRADUN (DEEMED TO BE
                          UNIVERSITY)
                        </td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>GAJULA VAISHNAVI</td>
                        <td>MASTER OF SCIENCE IN FORESTRY</td>
                        <td>AIR- 1st (PC)</td>
                        <td>
                          FOREST RESEARCH INSTITUTE, DEHRADUN (DEEMED TO BE
                          UNIVERSITY)
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="colheading6">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsecol6"
              aria-expanded="false"
              aria-controls="collapsecol6"
            >
              <h5 class="text-white">PONDICHERRY UNIVERSITY</h5>
            </button>
          </h2>
          <div
            id="collapsecol6"
            class="accordion-collapse collapse"
            aria-labelledby="colheading6"
            data-bs-parent="#accordion1"
          >
            <div class="accordion-body">
              <div
                class="mt-4 p-3 p-sm-4"
                style="
                  background-color: #fbfaea;
                  border-radius: 15px;
                  box-shadow: 0 0 10px #c5c3ac;
                "
              >
                <div class="table-responsive">
                  <table
                    class="table table-color table-striped table-bordered"
                  >
                    <thead class="bg-light bg-head">
                      <tr>
                        <th>S.No.</th>
                        <th>NAME</th>
                        <th>ADMISSION</th>
                        <th>ALL INDIA RANK</th>
                        <th>UNIVERSITY</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>PATIL JYOTHSNA</td>
                        <td>MASTER OF SCIENCE IN ECOLOGY</td>
                        <td>AIR 6th</td>
                        <td>PONDICHERRY CENTRAL UNIVERSITY</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>NAZIYA BEGUM</td>
                        <td>MASTER OF SCIENCE IN ECOLOGY</td>
                        <td>AIR 21st</td>
                        <td>PONDICHERRY CENTRAL UNIVERSITY</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="colheading7">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsecol7"
              aria-expanded="false"
              aria-controls="collapsecol7"
            >
              <h5 class="text-white">
                INDIAN COUNCIL OF AGRICULTURE AND RESEARCH ALL INDIA
                ENTRANCE EXAMINATION FOR ADMISSION TO PG STUDIES
                (ICAR-AIEEA) 2021
              </h5>
            </button>
          </h2>
          <div
            id="collapsecol7"
            class="accordion-collapse collapse"
            aria-labelledby="colheading7"
            data-bs-parent="#accordion1"
          >
            <div class="accordion-body">
              <div
                class="mt-4 p-3 p-sm-4"
                style="
                  background-color: #fbfaea;
                  border-radius: 15px;
                  box-shadow: 0 0 10px #c5c3ac;
                "
              >
                <div class="table-responsive">
                  <table
                    class="table table-color table-striped table-bordered"
                  >
                    <thead class="bg-light bg-head">
                      <tr>
                        <th>S.No.</th>
                        <th>Student Name</th>
                        <th>University</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>YALAL MALLESH</td>
                        <td>Punjab Agricultural University, Punjab</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>DHARAVATH RAJESHWARI</td>
                        <td>
                          Dr. Rajendra Prasad Central Agrl. University,
                          Bihar
                        </td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>MUNAGALA PAVITHRA</td>
                        <td>UAS, Dharwad, Karnataka</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>KASARLA RAJU</td>
                        <td>OUAT. Odisha(Not joined)</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>AKUNURI SUPRIYA</td>
                        <td>IGKV, Chattisgarh</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="colheading8">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsecol8"
              aria-expanded="false"
              aria-controls="collapsecol8"
            >
              <h5 class="text-white">
                BANARAS HINDU UNIVERSITY, VARANASI NATIONAL ENTRANCE
                EXAMINATION 2021
              </h5>
            </button>
          </h2>
          <div
            id="collapsecol8"
            class="accordion-collapse collapse"
            aria-labelledby="colheading8"
            data-bs-parent="#accordion1"
          >
            <div class="accordion-body">
              <div
                class="mt-4 p-3 p-sm-4"
                style="
                  background-color: #fbfaea;
                  border-radius: 15px;
                  box-shadow: 0 0 10px #c5c3ac;
                "
              >
                <div class="table-responsive">
                  <table
                    class="table table-color table-striped table-bordered"
                  >
                    <thead class="bg-light bg-head">
                      <tr>
                        <th>S.No.</th>
                        <th>Student Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>Praneeth varma</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>GURRAM KRISHNA Reddy</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>Divya.M</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>Akhila</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>Suma sri</td>
                      </tr>
                      <tr>
                        <td>6.</td>
                        <td>P.Sravanthi</td>
                      </tr>
                      <tr>
                        <td>7.</td>
                        <td>Niharika</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .plublications {
    background-image: linear-gradient(to top, #dbd9b6 0%, #ffffff 100%);
    padding: 20px 0;
  }

  .ul-padding li {
    padding-bottom: 10px;
  }

  .accordion-item {
    border-radius: 8px;
    padding: 2px;
    background-color: #8d7b57;
    border: 1px solid #fbfaead9;
    margin-bottom: 10px;
  }

  .accordion-button {
    background-color: #8d7b57;
  }

  .text-white {
    color: #fff;
  }

  .accordion-body {
    color: #f8f3da;
  }

  .accordion-button:focus {
    border-color: #8d7b57 !important;
    box-shadow: 0 0 0 0.25rem rgb(135 115 95) !important;
  }

  .accordion-button {
    background-color: #8d7b57;
  }

  .accordion-button:not(.collapsed) {
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%) !important;
    background-color: #8d7b57 !important;
  }

  .accordion-button::after {
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  }

  .accordion-button {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: calc(0.25rem - 1px);
  }
</style>
<section class="contact-section">
  <h1>
      Emerging as a World Class Institution.
  </h1>
  <h2>Forestry Education, Research, Management, and Outreach.</h2>
  <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
</section>
{% include 'footer1.html' %}
{% include 'bootom_footer.html' %}
       
  <script src="{% static 'js/main.js' %}"></script>
</body>        