{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}
<section class="stdClub" style="padding-bottom: 30px">
  <div class="container-xl container-xxl">
    <div class="row">
      <h3 class="text-dgreen Titillium Web" style="padding-bottom: 8px">
        Achievements of Students of 1st Batch B.Sc (Hons.) (Forestry) - 2020
      </h3>
      <div class="accordion" id="accordion1">
        <div class="accordion-item">
          <h2 class="accordion-header" id="colheading5">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsecol5"
              aria-expanded="true"
              aria-controls="collapsecol5"
            >
              <h5 class="text-white">PG STUDIES ABROAD-2020</h5>
            </button>
          </h2>
          <div
            id="collapsecol5"
            class="accordion-collapse collapse show"
            aria-labelledby="colheading5"
            data-bs-parent="#accordion1"
          >
            <div class="accordion-body">
              <div
                class="mt-4 p-3 p-sm-4"
                style="
                  background-color: #fbfaea;
                  border-radius: 15px;
                  box-shadow: 0 0 10px #c5c3ac;
                "
              >
                <div class="table-responsive">
                  <table
                    class="table table-color table-striped table-bordered"
                  >
                    <thead class="bg-light bg-head">
                      <tr>
                        <th>S.No.</th>
                        <th>NAME</th>
                        <th>ADMISSION</th>
                        <th>ALL INDIA RANK</th>
                        <th>UNIVERSITY</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>SURYA DEEPIKA GARUGU</td>
                        <td>MASTER OF SCIENCE IN WILDLIFE AND SCIENCES</td>
                        <td>-</td>
                        <td>
                          AUBURN UNIVERSITY (SCHOOL OF FORESTRY AND WILDLIFE
                          SCIENCES), ALABAMA, US
                        </td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>SUHARSHA BHASKARLA</td>
                        <td>
                          MASTER OF SCIENCES IN FORESTRY (THESIS-
                          BIOMATERIALS AND SUSTAINABLE PACKAGING)
                        </td>
                        <td>-</td>
                        <td>
                          AUBURN UNIVERSITY (SCHOOL OF FORESTRY AND WILDLIFE
                          SCIENCES), ALABAMA, US
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="colheading6">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsecol6"
              aria-expanded="false"
              aria-controls="collapsecol6"
            >
              <h5 class="text-white">
                FOREST RESEARCH INSTITUTE, DEHRADUN NATIONAL ENTRANCE
                EXAMINATION-2020
              </h5>
            </button>
          </h2>
          <div
            id="collapsecol6"
            class="accordion-collapse collapse"
            aria-labelledby="colheading6"
            data-bs-parent="#accordion1"
          >
            <div class="accordion-body">
              <div
                class="mt-4 p-3 p-sm-4"
                style="
                  background-color: #fbfaea;
                  border-radius: 15px;
                  box-shadow: 0 0 10px #c5c3ac;
                "
              >
                <div class="table-responsive">
                  <table
                    class="table table-color table-striped table-bordered"
                  >
                    <thead class="bg-light bg-head">
                      <tr>
                        <th>S.No.</th>
                        <th>NAME</th>
                        <th>ADMISSION</th>
                        <th>ALL INDIA RANK</th>
                        <th>UNIVERSITY</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>KALYANI PUPPALA</td>
                        <td>
                          MASTER OF SCIENCE IN WOOD SCIENCE AND TECHNOLOGY
                        </td>
                        <td>AIR 1st (OBC-CATEGORY)</td>
                        <td>
                          FOREST RESEARCH INSTITUTE, DEHRADUN (DEEMED TO BE
                          UNIVERSITY)
                        </td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>SAITEJA CHINTHAKAYALA</td>
                        <td>
                          MASTER OF SCIENCE IN WOOD SCIENCE AND TECHNOLOGY
                        </td>
                        <td>AIR 8th (OBC-CATEGORY)</td>
                        <td>
                          FOREST RESEARCH INSTITUTE, DEHRADUN (DEEMED TO BE
                          UNIVERSITY)
                        </td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>TEJA SRI YERUVA</td>
                        <td>
                          MASTER OF SCIENCE IN WOOD SCIENCE AND TECHNOLOGY
                        </td>
                        <td>AIR 13th (OBC-CATEGORY)</td>
                        <td>
                          FOREST RESEARCH INSTITUTE, DEHRADUN (DEEMED TO BE
                          UNIVERSITY)
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="colheading7">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsecol7"
              aria-expanded="false"
              aria-controls="collapsecol7"
            >
              <h5 class="text-white">
                BANARAS HINDU UNIVERSITY, VARANASI NATIONAL ENTRANCE
                EXAMINATION-2020
              </h5>
            </button>
          </h2>
          <div
            id="collapsecol7"
            class="accordion-collapse collapse"
            aria-labelledby="colheading7"
            data-bs-parent="#accordion1"
          >
            <div class="accordion-body">
              <div
                class="mt-4 p-3 p-sm-4"
                style="
                  background-color: #fbfaea;
                  border-radius: 15px;
                  box-shadow: 0 0 10px #c5c3ac;
                "
              >
                <div class="table-responsive">
                  <table
                    class="table table-color table-striped table-bordered"
                  >
                    <thead class="bg-light bg-head">
                      <tr>
                        <th>S.No.</th>
                        <th>NAME</th>
                        <th>ADMISSION</th>
                        <th>ALL INDIA RANK</th>
                        <th>UNIVERSITY</th>
                      </tr>
                    </thead>
                    <tbody class="bg-light bg-head">
                      <tr>
                        <td>1.</td>
                        <td>B. VENKATESHWAR REDDY</td>
                        <td>MASTER OF SCIENCE IN AGROFORESTRY</td>
                        <td>AIR- 1st (OPEN CATEGORY)</td>
                        <td>BANARAS HINDU UNIVERSITY, VARANASI</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>VENNELA REDDY</td>
                        <td>MASTER OF SCIENCE IN AGROFORESTRY</td>
                        <td>AIR- 9th (OPEN CATEGORY)</td>
                        <td>BANARAS HINDU UNIVERSITY, VARANASI</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>KALYANI PUPPALA</td>
                        <td>MASTER OF SCIENCE IN AGROFORESTRY</td>
                        <td>AIR-13th (OPEN CATEGORY)</td>
                        <td>BANARAS HINDU UNIVERSITY, VARANASI</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>INDU KALE</td>
                        <td>MASTER OF SCIENCE IN AGROFORESTRY</td>
                        <td>AIR- 4th (SC CATEGORY)</td>
                        <td>BANARAS HINDU UNIVERSITY, VARANASI</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>SUSHMA</td>
                        <td>MASTER OF SCIENCE IN AGROFORESTRY</td>
                        <td>AIR- 7th (SC CATEGORY)</td>
                        <td>BANARAS HINDU UNIVERSITY, VARANASI</td>
                      </tr>
                      <tr>
                        <td>6.</td>
                        <td>SRISHAILAM</td>
                        <td>MASTER OF SCIENCE IN AGROFORESTRY</td>
                        <td>AIR- 6th (OBC CATEGORY)</td>
                        <td>BANARAS HINDU UNIVERSITY, VARANASI</td>
                      </tr>
                      <tr>
                        <td>7.</td>
                        <td>NAMPALLY SHRAVANI</td>
                        <td>MASTER OF SCIENCE IN AGROFORESTRY</td>
                        <td>AIR- 16th (OBC CATEGORY)</td>
                        <td>BANARAS HINDU UNIVERSITY, VARANASI</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="colheading8">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsecol8"
              aria-expanded="false"
              aria-controls="collapsecol8"
            >
              <h5 class="text-white">
                INDIAN COUNCIL OF AGRICULTURAL RESEARCH ALL INDIA ENTRANCE
                EXAMINATION FOR ADMISSIONS TO PG STUDIES (ICAR-AIEEA)-2020
              </h5>
            </button>
          </h2>
          <div
            id="collapsecol8"
            class="accordion-collapse collapse"
            aria-labelledby="colheading8"
            data-bs-parent="#accordion1"
          >
            <div class="accordion-body">
              <div
                class="mt-4 p-3 p-sm-4"
                style="
                  background-color: #fbfaea;
                  border-radius: 15px;
                  box-shadow: 0 0 10px #c5c3ac;
                "
              >
                <div class="table-responsive">
                  <table
                    class="table table-color table-striped table-bordered"
                  >
                    <thead class="bg-light bg-head">
                      <tr>
                        <th>S.No.</th>
                        <th>NAME</th>
                        <th>ADMISSION</th>
                        <th>ALL INDIA RANK</th>
                        <th>UNIVERSITY</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>B. VENKATESHWAR REDDY</td>
                        <td>
                          M.SC. FORESTRY (Silviculture & Agroforestry)
                        </td>
                        <td>AIR 3rd in OC and 1st in EWS</td>
                        <td>
                          Dr. Y. S. Parmar University of Horticulture &
                          Forestry, Nauni, Solan, Himachal Pradesh
                        </td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>HUSNA TAQVEEM</td>
                        <td>
                          M.SC. FORESTRY (Forest Products & Utilization)
                        </td>
                        <td>AIR 8th in OC</td>
                        <td>Navsari Agricultural University, Gujarat</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>CH. BHARGAVI</td>
                        <td>
                          M.SC. FORESTRY (Silviculture & Agroforestry)
                        </td>
                        <td>AIR 8th in OBC</td>
                        <td>
                          Indira Gandhi Agricultural University, Raipur,
                          Chhatisgarh
                        </td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>INDU KALE</td>
                        <td>M.SC. FORESTRY(Silviculture & Agroforestry)</td>
                        <td>AIR 5th in SC</td>
                        <td>
                          Indira Gandhi Agricultural University, Raipur,
                          Chhatisgarh
                        </td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>ANISH D</td>
                        <td>M.SC. FORESTRY</td>
                        <td>AIR 6th in SC</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>6.</td>
                        <td>AMITHA REDDY</td>
                        <td>
                          M.SC. FORESTRY (Silviculture & Agroforestry)
                        </td>
                        <td>AIR 1st in PC</td>
                        <td>Navsari Agricultural University, Gujarat</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .plublications {
    background-image: linear-gradient(to top, #dbd9b6 0%, #ffffff 100%);
    padding: 20px 0;
  }

  .ul-padding li {
    padding-bottom: 10px;
  }

  .accordion-item {
    border-radius: 8px;
    padding: 2px;
    background-color: #8d7b57;
    border: 1px solid #fbfaead9;
    margin-bottom: 10px;
  }

  .accordion-button {
    background-color: #8d7b57;
  }

  .text-white {
    color: #fff;
  }

  .accordion-body {
    color: #f8f3da;
  }

  .accordion-button:focus {
    border-color: #8d7b57 !important;
    box-shadow: 0 0 0 0.25rem rgb(135 115 95) !important;
  }

  .accordion-button {
    background-color: #8d7b57;
  }

  .accordion-button:not(.collapsed) {
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%) !important;
    background-color: #8d7b57 !important;
  }

  .accordion-button::after {
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  }

  .accordion-button {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: calc(0.25rem - 1px);
  }
</style>
<section class="contact-section">
  <h1>
      Emerging as a World Class Institution.
  </h1>
  <h2>Forestry Education, Research, Management, and Outreach.</h2>
  <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
</section>
{% include 'footer1.html' %}
  <script src="{% static 'js/main.js' %}"></script>
</body>        