{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}


        <div class="content-container">
            <!-- Intro Section -->
            <section class="intro-section">
                <div class="intro-container">
                    <div class="intro-left">
                        <img src="{% static 'images\college-images\vision-1image.jpg' %}" alt="FCRI Image 1">
                        <img src="{% static 'images\college-images\vision2-image.jpg' %}" alt="fcri image2">
                    </div>
                    <div class="intro-right">
                        <h1>Welcome to FCRI Hyderabad</h1>
                        <p>
                            Professional Forestry Education for the First Time in Telangana State<br>
                            FCRI Hyderabad, the brainchild of our visionary Chief Minister, was established in 2016.
                            Located at Forest Research Centre Mulugu in Siddipet district, about 50 km from the city of Hyderabad,
                            FCRI provides world-class facilities and opportunities to its students. At present, FCRI has 242 students
         a                   pursuing M.Sc. Forestry and B.Sc. (Hons.) Forestry. Three batches from B.Sc. (Hons.) Forestry have passed out.
                            FCRI Hyderabad received ICFRE accreditation with A* grade & ICAR accreditation within a span of 5 years since inception.
                        </p>
                        <img src="{% static 'images\college-images\vision3-image.jpg' %}" class="intro-bottom-img">
                    </div>
                </div>
            </section>
        
            <!-- Vision and Mission Section -->
            <section class="vision-mission-section">
                <div class="vision-mission-container" style="background-image: url('background.jpg');">
                    <div class="vision-mission-text">
                        <div class="vision-box">
                            <h2>Vision</h2>
                            <p>
                                Emerging as a World Class Institution for Forestry Education, Research, Management, and Outreach.
                            </p>
                        </div>
                        <div class="mission-box">
                            <h2>Mission</h2>
                            <ul>
                                <li>To establish a world-class institution in forestry education.</li>
                                <li>To bring out qualified forestry professionals for conservation and sustainable management of forest resources.</li>
                                <li>To develop appropriate methods through research for propagation of plantation crops to meet the demand from industry and domestic needs.</li>
                                <li>Extension training to farmers.</li>
                                <li>To network and partner with similar institutions to synergize learning.</li>
                                <li>To develop Agroforestry models suitable for different agro-ecological situations in Telangana State, apart from conventional forestry operations to reduce pressure on natural stands, uplift farming communities economically, and enhance ecological conditions.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        
            <!-- Contact Section -->
            {% include 'contact.html' %}
        </div>
        <div class="vision-images">
            <div class="vi">
                <img src="{% static 'images\college-images\visionimage4.webp' %}">
            </div>
            <div class="vi">
                <img src="{% static 'images\college-images\vision-image5.webp' %}">
            </div>
            <div class="vi">
                <img src="{% static 'images\college-images\vision-image7.webp' %}">
            </div>
            <div class="vi">
                <img src="{% static 'images\college-images\vision-image6.webp' %}">
            </div>
        </div>
       {% include 'footer1.html' %}
          
           
      <script src="{% static 'js/main.js' %}"></script>
    