{% load static %}
{% include 'base.html' %}
{% include 'breadcrumbs.html' %}


<section class="mvpageWelcomeSec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-5 col-xl-4 mvpageWelcomeCol01">
                <div class="mvpageWelcomeImgBlock mvpwImg-01 ms-md-5">
                    <img src="{% static 'images/college-images/kcr.webp' %}" class="img-fluid d-none d-md-block" alt="vision-mission">
                    <img src="{% static 'images/college-images/vision2-image.jpg' %}" class="img-fluid d-block d-md-none" alt="vision-mission">
                </div>
                <div class="mvpageWelcomeImgBlock mvpwImg-02">
                    <img src="{% static 'images/college-images/governing_bg.webp' %}" class="img-fluid" alt="vision-mission">

                </div>
            </div>
            <div class="col-12 col-md-7 col-xl-8 mvpageWelcomeCol02">
                <div class="mvpageWelcomeContent">
                    <h3>Welcome to FCRI Hyderabad</h3>
                    <h6>
                        Professional Forestry Education for the First Time in Telangana
                        State
                    </h6>
                    <p>
                        <span>FCRI Hyderabad,</span> the brainchild of our visionary
                        Chief Minister Sri K Chandrashekar Rao, is established in the
                        year 2016. Located at Forest Research Centre Mulugu in Siddipet
                        district, about 50 km from the city of Hyderabad, FCRI provides
                        world class facilities and opportunities to its students. At present, FCRI has 242 students
                        pursuing M.Sc. Forestry and B.Sc. (Hons.) Forestry. Three batches from B.Sc. (Hons.) Forestry
                        have been passed out. FCRI Hyderabad received ICFRE accreditation with A* grade &amp; ICAR
                        accreditation just within a span of 5 years since inception.
                    </p>
                </div>
                <div class="mvpageWelcomeImgBlock mvpwImg-03">
                    <img src="{% static 'images/college-images/governing_bg.webp' %}" class="img-fluid d-none d-md-block" alt="vision-mission">
                    <img src="{% static 'images/college-images/Forest_Museum_image1.jpg' %}" class="img-fluid d-md-none d-block mx-auto" alt="vision-mission">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mvpageContentSec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 offset-xl-6 col-xl-6 mvpageContentCol my-0 my-xl-0 my-sm-5">
                <div class="col-md-12 px-md-4 px-3">
                    <h4>Vision</h4>
                    <p class="col-md-12">
                        Emerging as a World Class Institution for Forestry Education,
                        Research, Management and Outreach.
                    </p>
                    <h4>Mission</h4>
                    <ul class="col-md-12">
                        <li>
                            To establish a world - class institution in forestry education.
                        </li>
                        <li>
                            To bring out the qualified forestry professionals for
                            conservation and sustainable management of forest resources.
                        </li>
                        <li>
                            To develop appropriate methods through research for
                            propagation of the plantation crops to meet the demand from
                            industry and domestic needs.
                        </li>
                        <li>Extension training to the farmers.</li>
                        <li>
                        To network and partner with similar institutions to synergise learning. 
                        </li>
                        <li>
                            To develop Agro forestry models suitable for different
                            agro-ecological situations in Telangana State, apart from
                            conventional forestry operations so as to reduce pressure on
                            natural stands, economic upliftment of farming communities and
                            to enhance ecological conditions.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
            <!-- Contact Section -->
            <section class="contact-section">
                <h1>
                    Emerging as a World Class Institution.
                </h1>
                <h2>Forestry Education, Research, Management, and Outreach.</h2>
                <a href="{% url 'ContactUs' %}" class="contact-button">Contact Us</a>
            </section>   
        
        <section class="fcri-footer-gallery">
            <div class="d-flex align-items-center">
                <div class="flex-fill">
                    <a href="#"> <img src="{% static 'images/college-images/vision-1image.jpg' %}" class="img-fluid" alt="footer-img"></a>
                </div>
                <div class="flex-fill">
                    <a href="#"> <img src="{% static 'images/college-images/vision-image5.webp' %}" class="img-fluid" alt="footer-img"></a>
                </div>
                <div class="flex-fill">
                    <a href="#"> <img src="{% static 'images/college-images/vision-image7.webp' %}" class="img-fluid" alt="footer-img"></a>
                </div>
                <div class="flex-fill">
                    <a href="#"> <img src="{% static 'images/college-images/vision-image6.webp' %}" class="img-fluid" alt="footer-img"></a>
                </div>
            </div>
        </section>
        
{% include 'footer1.html' %}
{% include 'bootom_footer.html' %}
          
           
      <script src="{% static 'js/main.js' %}"></script>
    